		<div class="side-panel" id="auction-categories">
		
			<!-- Side Panel's Header -->
			<div class="side-panel-header">
				<div class="side-panel-title">Категории</div>
				<div class="side-panel-close" onclick="closeSidePanel( $(this).parents('.side-panel').attr('id') )">&times;</div>
			</div>
			
			<!-- Side Panel's Content -->
			<div class="side-panel-content">
				<div class="side-panel-label"></div>
				<div class="side-panel-input">
					<input type="text" value="" placeholder="Искать категорию"/>
				</div>

				<div class="side-panel-label">Список рубрик</div>
				<div class="tree">
					<div class="leaf level-1">
						Автоматизированные системы управления, измерительные приборы и аппаратура (КИП и А)
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня 1<span class="float-right">15</span></div>
							<div class="last leaf level-3">Категория третьего уровня 2<span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Автосервис, услуги по торговле, обслуживанию автомобилей
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Банковские, финансовые, маркетинговые, юридические, страховые услуги
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Все для дома и офиса
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Вторсырье, отходы, лом
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Компьютеры, оргтехника, ПО
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Лакокрасочные материалы (ЛКМ), растворители
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Лес, изделия из древесины, услуги в лесном хозяйстве
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Машины и оборудование
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Медицина и здравоохранение
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Наука, исследования, образование
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Недвижимость, риэлторские услуги
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Нефтегазовые продукты, топливо, ГСМ
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Одежда, спецодежда, обувь, ткани, СИЗ
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Охранные услуги
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Полезные ископаемые, сырье
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Полимерные материалы
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Продукция металлообработки, металлоизделия
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Продукция металлургии
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Резинотехнические изделия
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Сельское и приусадебное хозяйство, продукты питания
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Строительные материалы, комплектующие, изделия
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Строительные услуги, реконструкция, ремонт
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Телекоммуникации, оборудование связи, интернет, безопасность
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Транспортные средства, спецтехника, детали и запчасти к ним
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Услуги в области технической деятельности
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Услуги государственных органов
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Услуги коммунальные, социальные и персональные прочие
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Услуги по торговле и по производству продукции
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Услуги сопровождения бизнеса
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Услуги транспорта, перевозки, логистика
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Химические и фармацевтические вещества, химические и лабораторные принадлежности
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
					<div class="leaf level-1">
						Электрооборудование, электроника
						<div class="leaf level-2">
							Категория второго уровня
							<div class="last leaf level-3">Категория третьего уровня <span class="float-right">15</span></div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Side Panel's Footer -->
			<div class="side-panel-footer">
				<a class="float-right"><span class="a-icon fa fa-ban"></span> Сбросить</a>
			</div>

		</div>