		<div class="side-panel list" id="list">
		
			<!-- Side Panel's Header -->
			<div class="side-panel-header">
				<div class="close float-left" onclick="$(this).parents('.side-panel').removeClass('active');">&times;</div>
				<span class="side-panel-title">Список торгов</span>
			</div>
			
			<!-- Side Panel's Content -->
			<div class="side-panel-content">
				<div class="side-list">
					<div class="side-list-item">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Иван Каребо</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">i.kareba@nvcm.net</div>
								<div class="priority-4">Id: 129302</div>
							</div>
						</div>
					</div>
					<div class="side-list-item even">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Александр Степанов</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">a.stsiapanay@nvcm.net</div>
								<div class="priority-4">Id: 106451</div>
							</div>
						</div>
					</div>
					<div class="side-list-item">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Иван Каребо</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">i.kareba@nvcm.net</div>
								<div class="priority-4">Id: 129302</div>
							</div>
						</div>
					</div>
					<div class="side-list-item even">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Александр Степанов</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">a.stsiapanay@nvcm.net</div>
								<div class="priority-4">Id: 106451</div>
							</div>
						</div>
					</div>
					<div class="side-list-item">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Иван Каребо</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">i.kareba@nvcm.net</div>
								<div class="priority-4">Id: 129302</div>
							</div>
						</div>
					</div>
					<div class="side-list-item even">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Александр Степанов</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">a.stsiapanay@nvcm.net</div>
								<div class="priority-4">Id: 106451</div>
							</div>
						</div>
					</div>
					<div class="side-list-item">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Иван Каребо</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">i.kareba@nvcm.net</div>
								<div class="priority-4">Id: 129302</div>
							</div>
						</div>
					</div>
					<div class="side-list-item even">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Александр Степанов</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">a.stsiapanay@nvcm.net</div>
								<div class="priority-4">Id: 106451</div>
							</div>
						</div>
					</div>
					<div class="side-list-item">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Иван Каребо</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">i.kareba@nvcm.net</div>
								<div class="priority-4">Id: 129302</div>
							</div>
						</div>
					</div>
					<div class="side-list-item even">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Александр Степанов</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">a.stsiapanay@nvcm.net</div>
								<div class="priority-4">Id: 106451</div>
							</div>
						</div>
					</div>
					<div class="side-list-item">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Иван Каребо</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">i.kareba@nvcm.net</div>
								<div class="priority-4">Id: 129302</div>
							</div>
						</div>
					</div>
					<div class="side-list-item even">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Александр Степанов</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">a.stsiapanay@nvcm.net</div>
								<div class="priority-4">Id: 106451</div>
							</div>
						</div>
					</div>
					<div class="side-list-item">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Иван Каребо</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">i.kareba@nvcm.net</div>
								<div class="priority-4">Id: 129302</div>
							</div>
						</div>
					</div>
					<div class="side-list-item even">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Александр Степанов</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">a.stsiapanay@nvcm.net</div>
								<div class="priority-4">Id: 106451</div>
							</div>
						</div>
					</div>
					<div class="side-list-item">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Иван Каребо</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">i.kareba@nvcm.net</div>
								<div class="priority-4">Id: 129302</div>
							</div>
						</div>
					</div>
					<div class="side-list-item even">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Александр Степанов</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">a.stsiapanay@nvcm.net</div>
								<div class="priority-4">Id: 106451</div>
							</div>
						</div>
					</div>
					<div class="side-list-item">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Иван Каребо</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">i.kareba@nvcm.net</div>
								<div class="priority-4">Id: 129302</div>
							</div>
						</div>
					</div>
					<div class="side-list-item even">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Александр Степанов</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">a.stsiapanay@nvcm.net</div>
								<div class="priority-4">Id: 106451</div>
							</div>
						</div>
					</div>
					<div class="side-list-item">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Иван Каребо</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">i.kareba@nvcm.net</div>
								<div class="priority-4">Id: 129302</div>
							</div>
						</div>
					</div>
					<div class="side-list-item even">
						<div class="side-list-item-img">
							<img src="/global/img/default_avatar.png" />
						</div>
						<div class="side-list-item-info">
							<div class="first-row">
								<div class="priority-1">Александр Степанов</div>
								<div class="priority-2">Менеджер</div>
							</div>
							<div class="second-row">
								<div class="priority-3">a.stsiapanay@nvcm.net</div>
								<div class="priority-4">Id: 106451</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Side Panel's Footer -->
			<div class="side-panel-footer">
				Загружено 20 без фильтрации
<!--
				<div class="btn highlighted">Применить фильтр</div>
				<div class="btn float-right">Сохранить фильтр</div>
-->
			</div>

		</div>