		<div class="side-panel table-of-content" id="help-guide-table-of-content">
		
			<!-- Side Panel's Header -->
			<div class="side-panel-header">
				<div class="btn close float-left" onclick="$(this).parents('.side-panel').removeClass('active');">&nbsp;</div>
				<span class="side-panel-title">Оглавление</span>
			</div>
			
			<!-- Side Panel's Content -->
			<div class="side-panel-content">
				<div class="toc">
					<div class="h1"><a href="#onika">Оника Стандарт</a></div>
					<div class="h2"><a href="#o-nas">О нас</a></div>
					<div class="h2"><a href="#rost">Рост клиентской базы</a></div>
					<div class="h2"><a href="#plus">Наши преимущества</a></div>
					<div class="h2"><a href="#offices">Офисы</a></div>
					<div class="h3"><a href="#minsk">Минск</a></div>
					<div class="h1"><a href="#comments">Комментарии</a></div>
				</div>
			</div>
			
			<!-- Side Panel's Footer -->
			<div class="side-panel-footer">
<!--
				<div class="btn highlighted">Применить фильтр</div>
				<div class="btn float-right">Сохранить фильтр</div>
-->
			</div>

		</div>