		<div class="side-panel" id="table">
		
			<!-- Side Panel's Header -->
			<div class="side-panel-header">
				<div class="side-panel-title">Список шаблонов для импорта</div>
				<div class="side-panel-close" onclick="closeSidePanel( $(this).parents('.side-panel').attr('id') )">&times;</div>
			</div>
			
			<!-- Side Panel's Content -->
			<div class="side-panel-content">
				
				<table cellspacing="0">
					<tr>
						<th>#</th>
						<th>Описание</th>
						<th>Шаблон</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Импорт справочника организаций</td>
						<td><a href="">companies.xlsx</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>Импорт справочника сотрудников</td>
						<td><a href="">employees.xlsx</a></td>						
					</tr>
					<tr>
						<td>3</td>
						<td>Импорт расширенного справочника организаций</td>
						<td><a href="">companies.xlsx</a></td>
					</tr>
					<tr>
						<td>4</td>
						<td>Импорт справочника сотрудников предпенсионного возраста</td>
						<td><a href="">employees-old.xlsx</a></td>	
					</tr>
					<tr>
						<td>5</td>
						<td>Импорт справочника организаций</td>
						<td><a href="">companies.xlsx</a></td>
					</tr>
					<tr>
						<td>6</td>
						<td>Импорт справочника сотрудников</td>
						<td><a href="">employees.xlsx</a></td>						
					</tr>
					<tr>
						<td>7</td>
						<td>Импорт расширенного справочника организаций</td>
						<td><a href="">companies.xlsx</a></td>
					</tr>
					<tr>
						<td>8</td>
						<td>Импорт справочника сотрудников предпенсионного возраста</td>
						<td><a href="">employees-old.xlsx</a></td>
					</tr>
				</table>
				
			</div> <!-- side-panel-content -->
			
			<!-- Side Panel's Footer -->
<!--
			<div class="side-panel-footer">
				<a onclick="openPopup('save-filter')"><span class="a-icon fa fa-save"></span> Сохранить</a>
				<a class="float-right"><span class="a-icon fa fa-ban"></span> Сбросить</a>
			</div>
-->

		</div>