/* COMMENTS */
.section-content.comments {
	width: 80%;
	padding: 10px;
	
	line-height: 1.5em;
	
	box-sizing: border-box;
}
.section-content.comments .comment {
	position: relative;
	padding: 15px 0;
	
	min-height: 74px;

	color: inherit;
}
.section-content.comments .comment .avatar {
	position: absolute; top: 15px; left: 0;
	width: 70px; height: 70px;
}
.section-content.comments .comment .avatar img {
	width: 80px; height: 80px;
	
	border: solid 1px #E6E6E6;
	
	-webkit-border-radius: 100%;
	border-radius: 100%;
}
.section-content.comments .comment .comment-header {
	padding-left: 100px;
	padding-bottom: 5px;
}
.section-content.comments .comment .comment-header .comment-author {
	display: inline-block; *display: inline; zoom: 1;
	width: auto;
	
	font-family: 'helveticaneuecyrmedium', sans-serif;
	
	overflow: hidden;
}
.section-content.comments .comment .comment-header .comment-date {
	display: inline-block; *display: inline; zoom: 1;
	float: right;
	width: 135px;
	
	color: #8b8b8b;
	font-size: 0.875em;
	text-align: right;
	
	overflow: hidden;
}
.section-content.comments .comment .comment-content {
	color: #8b8b8b;
	padding-left: 100px;
	padding-bottom: 5px;
}
.section-content.comments .comment .comment-content p {
	margin: 5px 0;
}
.section-content.comments .comment .comment-content textarea {
	width: 98%;
	margin: 5px 0;
}
.section-content.comments .comment .comment-file {
	padding-left: 100px;
	margin: 5px 0;
	
	color: #777;
}
.section-content.comments .comment .comment-file a {
	display: block;
}
.section-content.comments .comment .comment-file a:before {
	margin-right: 5px;
	content: '\f0c6';
	font-family:'FontAwesome';
	font-size: 1.25em;
}
/* COMMENTS */


/* 600-1000 */
@media (min-width: 0px) and (max-width: 800px) {
	.section-content.comments {
		width: 100%;
	}
}