/* TREE */
.section .section-content.tree {
	width: 100%;
	min-width: 640px;
	padding: 10px 20px;
	
	line-height: 1.5em;
	
	box-sizing: border-box;
}
.section .section-content.tree .leaf {
	display: none;
	padding: 3px 0 2px 15px;
	margin: 0 0 0 10px;
	
	background-image: url(../img/icn-tree-collapsed-black.png);
	background-repeat: no-repeat;
	background-position: left 6px;
	
	cursor: pointer;
}
.section .section-content.tree .leaf a {
	color: #444;
}
.section .section-content.tree .leaf a:hover {
	color: #227bde;
}
.section .section-content.tree .leaf.expanded {
	background-image:  url(../img/icn-tree-expanded-black.png);
	background-position: left 7px;
}
.section .section-content.tree .leaf.last {
	padding-left: 0;
	
	color: #666;

	background-image: none;
	border-bottom: solid 1px #F6F6F6;
}
.section .section-content.tree .leaf.level-1 {
	display: block;
	margin-left: 0px;
}
.section .section-content.tree .leaf.level-1.expanded .leaf.level-2 {
	display: block;
}
.section .section-content.tree .leaf.level-2.expanded .leaf.level-3 {
	display: block;
}
.section .section-content.tree .leaf.level-3.expanded .leaf.level-4 {
	display: block;
}
.section .section-content.tree .leaf.level-4.expanded .leaf.level-5 {
	display: block;
}
.section .section-content.tree .leaf.level-5.expanded .leaf.level-6 {
	display: block;
}
/* TREE */