/* HOMEPAGE */
.homepage {
	top: 0 !important;
	padding: 15px;
	
	overflow-y: auto !important;
	-webkit-overflow-scrolling: touch;
}
.with-breadcrumbs {
	overflow-y: auto !important;
	-webkit-overflow-scrolling: touch;
}
.homepage-left-column {
	width: 70%;
	
	float: left;
}
.homepage-right-column {
	width: 30%;
	
	float: right;
}
.page-row {
	overflow: hidden;
	margin-bottom: 15px;
	
	clear: both;
}
.banner-outer {
	position: relative;
	display: inline-block;
	width: 100%;
	
	float: left;
}
.banner-outer.half-width {
	width: 50%;
}
.banner-outer.percent40 {
	width: 40%;
}
.banner-outer.percent60 {
	width: 60%;
}
.banner-outer.percent33 {
	width: 33%;
}
.banner-outer.percent34 {
	width: 34%;
}
.banner {
	margin: 15px 15px -1000px 15px;
	padding-bottom: 1000px;
	
	color: #8b8b8b;
	font-size: 14px;
	line-height: 1.5em;
	
	background-color: #FFF;
	
	overflow: hidden;
}
.banner.special {
	border-top: solid 5px #7f98be;
}
.banner.green {
	border-top: solid 5px #76d79d;
}
.banner.yellow {
	border-top: solid 5px #eed149;
}
.banner.main {
	position: relative;
	padding-top: 40%;

	color: #FFF;
	
	background-color: #3f444c;
	
	overflow: hidden;
}
.homepage-right-column .banner {
	background-color: #ebeef2;
}
.banner-slide {
	position: absolute; top: 0; bottom: 0; left: 0; right: 0;
	padding: 30px;
	
	-webkit-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	
	cursor: pointer;
	
	opacity: 0;
}
.rotator-navigation {
	position: relative; left: 30px; bottom: 30px;
	width: auto; height: 9px;
	
	z-index: 10001;
}
.rotator-navigation-item {
	display: inline-block;
	width: 7px; height: 7px;
	margin-right: 10px;
	
	background-color: #FFF;
	
	-webkit-border-radius: 100%;
	border-radius: 100%;
	
	-webkit-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.rotator-navigation-item.active {
	background-color: #f54c36;
}
.banner-slide.active {
	z-index: 1000;
	opacity: 1;
}

.banner h1 {
	width: 80%;
	margin: 0px 30px;
	padding: 20px 0 10px;
	
	font-size: 2em;
	line-height: 1.375em;
	font-family: 'helveticaneuecyrthin', sans-serif;
}
.homepage .banner h1 {
	width: 60%;
	margin: 0;
	padding: 0;
	
	font-size: 2.25em;
	line-height: 1.125em;
	font-family: 'helveticaneuecyrthin', sans-serif;
	text-transform: uppercase;
}
.banner h2 {
 	margin: 10px 0;
	
	color: #5e7598;
	font-size: 1.25em;
	font-family: 'helveticaneuecyrmedium', sans-serif;
	font-weight: normal;
	line-height: 1.125em;
}
.banner ul {
	padding-left: 25px;
}
.banner li {
	line-height: 1.75em;
  text-overflow: ellipsis;
}
.banner table {
	width: 100%;
}
.banner th {
	padding: 15px 20px;
	
	font-weight: normal;
	font-family: 'helveticaneuecyrmedium', sans-serif;
	
	background-color: #e9ecf0;
}
.banner td {
	padding: 15px 20px;
}
.banner .datepicker {
	width: 100%;
}
.banner .even td {
	background-color: #f3f4f7;
}
.banner.main p {
	width: 60%;
	
	font-size: 1em;
}


/* BANNER HEADER */
.banner-header {
	margin: 0 30px;
	padding: 15px 0;
	
	border-bottom: solid 1px #cdd5e8;
	
	box-sizing: border-box;
}
.banner-header-icon {
	display: table-cell !important;
	padding-right: 10px;
	
	color: #7f98be;
	font-size: 1.75em !important;
	line-height: 0.875em !important;
	text-align: center;

}
.banner-header-title {
	display: table-cell;
	color: #5e7598;
	font-size: 1.25em;
	font-family: 'helveticaneuecyrmedium', sans-serif;	
	line-height: 1.25em;
	vertical-align: middle;
}
/* BANNER HEADER */

.banner-image {
	width: 30%; height: auto;
	vertical-align: middle;
	margin-right: 20px;
}
.banner-content {
	margin: 0px 30px;
	padding: 15px 0;

	border: none;
	
	overflow: hidden;
}
.banner-content .list.distinct {
	padding: 0;
}
.banner-content .list.distinct li {
	padding: 10px 0;
	border-top: solid 1px #dfe7f4;
	clear: both;
}
.banner-row {
	padding: 5px 0;
}
.banner-row.strict {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.banner-col {
	display: inline-block;
	margin: 0; padding: 0;
	
	vertical-align: middle;
}
.banner-col.clock {
	margin-right: 10px;
	
	font-size: 2.5em;
	line-height: 1em;
	font-family: 'helveticaneuecyrthin';
}
.banner-col.date {
	font-size: 0.875em;
	line-height: 1.275em;
	text-transform: uppercase;
	text-overflow: ellipsis;
	overflow: hidden;
} 
.banner-col.currency-title {
	width: 36%;
	font-family: 'helveticaneuecyrmedium', sans-serif;
	text-transform: uppercase;
}
.banner-col.currency-value {
	width: 26%;
	text-align: right;
	float: right;
}
.banner-timestamp {
	margin-bottom: 10px;
}
.banner .auction {
	margin: 0;
	
	border: none !important;
}
.width1 {
	width: 25%;
}
/* HOMEPAGE */


/* SITEMAP */
.sitemap ul {
	width: 180px;
	margin: 0 40px 0 0;
	padding: 0;
	
	float: left;
}
.sitemap ul header {
	margin: 20px 0;
	
	text-transform: uppercase;
}
.sitemap ul header a {
	font-family: 'helveticaneuecyrmedium', sans-serif;
}
.sitemap ul li {
	margin: 15px 0;
	list-style: none;
	
	line-height: 1.25em;
}
/* SITEMAP */


th.tarif-title {
	font-size: 1.125em;
	color: #FFF;
	text-transform: uppercase;
	vertical-align: top;
	
	background-color: #7f99be;
	
	border-right: solid 1px #f6f7f9; 
}
.tarif-title hr {
	margin: 10px 0;
	border: none;
	border-top: solid 1px #5e7597;
}
.tarif-price {
	font-size: 2em;
	line-height: 1.5em;
	font-family: 'helveticaneuecyrbold', sans-serif;
}
.tarif-description {
	font-size: 0.875em;
	color: rgba(255, 255, 255, 0.75);
	font-family: 'helveticaneuecyrlight', sans-serif;
	text-transform: none;
} 


.map {
	min-height: 400px;
	margin: 10px 0;
	
	background-color: #EEE;
}


/* 600-1000 */
@media (min-width: 0px) and (max-width: 1150px) {
	.homepage-left-column {
		width: 100%;
	}
	.homepage-right-column {
		display: none;
	}
}
/* 0-1280 */
@media (min-width: 1150px) and (max-width: 1350px) {
	.homepage-left-column {
		width: 69%;
	}
	.homepage-right-column {
		width: 31%;
	}
}
/* 1280 - max */
@media (min-width: 1350px) and (max-width: 1800px) {
	.homepage-left-column {
		width: 73%;
	}
	.homepage-right-column {
		width: 27%;
	}
}
/* 1800 - max */
@media (min-width: 1800px) {
	.homepage-left-column {
		width: 73%;
	}
	.homepage-right-column {
		width: 27%;
	}
}
/* 2200 - max */
@media (min-width: 2200px) {
	.homepage-left-column {
		width: 80%;
	}
	.homepage-right-column {
		width: 20%;
	}
}