/* FORM */
.form {
	padding: 10px 0;
}
.form .label {
	margin: 20px 30px 5px 30px;
	
	font-family: 'helveticaneuecyrmedium', sans-serif;
}
.form .input {
	margin: 5px 30px;
}
.form .input input {
	min-width: 90%;
}
.form .input textarea {
	width: 90%;
}
.form .input select.chsn {
	width: 90px;
}
.form p {
	margin: 5px 30px;
}
.form .comment {
	margin: 5px 30px;
	
	color: #777;
	line-height: 18px;
}
.form .controls {
	margin: 20px 30px;
}
.form .form-row {
	padding: 5px;
	clear: both;
}
.form .form-row .form-row-title {
	display: inline-block; *display: inline; zoom: 1;
	width: 220px;
	min-width: 200px;
	padding-top: 10px;
	padding-right: 10px;

	color: #777;	
	text-align: right;
	vertical-align: top;
}
.form .form-row .form-row-input {
	display: inline-block; *display: inline; zoom: 1;
	width: 350px;
	
	line-height: 27px;
}
.form .form-row .form-row-input select.chsn {
	width: 350px;
}
.form .form-row .form-row-input input {
	width: 250px;
}
.form .form-row .form-row-input .datepicker,
.form .form-row .form-row-input .timepicker {
	width: 100px;
}
.form .form-row .form-row-input .with-button {
	width: 270px;
}
.form .form-row .form-row-input input[type='checkbox'] {
	width: auto;
	height: 29px;
	vertical-align: middle;
}
.form .form-row .form-row-input input[type='radio'] {
	width: auto; /* height: 19px; */
	margin-right: 10px;
	
	vertical-align: middle;
}
.form .form-row .form-row-input .radio {
	cursor: pointer;
}
.form .form-row .form-row-input textarea {
	width: 330px;
	min-width: 330px;
	max-width: 330px;
}
.form .form-row .form-row-comment {
	display: inline-block; *display: inline; zoom: 1;
	width: 15%;
}
.form .form-row .form-row-comment::after {
	clear: both;
}
/* FORM */
