/* ANALYTICS*/
.section-content.analytics {
	width: auto;
	max-width: 640px;
	padding: 10px 20px;
}
.section-content.analytics .table {
	border: solid 1px #EEE;
}
.section-content.analytics .header-row {
	background-color: #F0F0F0;
}
.section-content.analytics .header-cell {
	padding: 10px;
	
	font-weight: bold;
	text-align: center;
}
.section-content.analytics .table-row {
	background-color: #FFF;
}
.section-content.analytics .table-cell {
	padding: 8px;
}
.section-content.analytics .odd-table-row {
	background-color: #F8F8F8;
}
.section-content.analytics .hover-table-row {
	background-color: #F3F3F3;
}
/* ANALYTICS*/