a {
	color: #5e7598;
	text-decoration: none;
	
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;

	cursor: pointer;
}
a:hover {
	color: #102a52;
}
input {
	margin: 2px;
	padding: 10px;
	
	color: #1d1d1d;
	font-size: inherit;
	font-family: inherit;
	
	border: solid 1px #d7d7d7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
input.attach {
	position: absolute;
	width: 0 !important; height: 0 !important;
	margin: 0; padding: 0;

	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	
	z-index: -1;
}
input[type="checkbox"] {
	border: none;
	margin-right: 5px;
}
input:focus {
	outline: none;
	
	border-color: #7f98be;
}
input[readonly]:focus,
input[readonly] {
	color: #AAA;
	
	border-color: #d7d7d7;

	background-color: #F6F6F6;
}

textarea {
	min-height: 60px;
	margin: 2px;
	padding: 10px;
	
	color: #1d1d1d;
	font-size: inherit;
	font-family: inherit;
	line-height: 1.25em;

	border: solid 1px #d7d7d7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
textarea:focus {
	outline: none;
	
	border-color: #7f98be;
}
textarea[readonly]:focus,
textarea[readonly] {
	color: #1d1d1d;
	
	border-color: #d7d7d7;
	
	background-color: #F6F6F6;
}

select {
	border: solid 1px #AAA;
}

/* BUTTONS */
.btn {
	display: inline-block !important; *display: inline; zoom: 1;
	min-width: 16px;
	margin: 2px 2px;
	padding: 9px 12px;
	
	color: #8099bf;
	font-family: 'helveticaneuecyrmedium', sans-serif;
	font-weight: normal;
	line-height: normal;
	text-align: center;

	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;

	border: solid 1px #a2b7d8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	
	cursor: pointer;
}
.btn.icon-width {
	display: inline-block !important;
	width: 16px; height: 14px;
	margin: 2px;
	padding: 9px 10px;
	
	vertical-align: middle;
	
	overflow: hidden;
}
.btn:hover {
	color: #FFF;
	background-color: #5e79a2;
	border-color: #5e79a2;
}
.btn.highlighted {
	color: #FFF;
	background-color: #7f98be;
	border-color: #7f98be;
}
.btn.highlighted:hover {
	color: #FFF;
	background-color: #5e79a2;
	border-color: #5e79a2;
}
.btn.basket {
	background-image: url(../img/icn-basket-gray.png);
}
.btn.basket:hover {
	background-image: url(../img/icn-basket-hover.png);
}
.btn.attachment {
	display: inline-block !important;
	max-width: 300px;
	
	text-overflow: ellipsis;
	white-space: nowrap;
	
	overflow: hidden;
}
.btn.close {
	background-image: url(../img/icn-close-gray.png);
}
.btn.close:hover {
	background-image: url(../img/icn-close-hover.png);
}
.btn.export {
	background-image: url(../img/icn-export-gray.png);
}
.btn.export:hover {
	background-image: url(../img/icn-export-hover.png);
}
.btn.delete {
	background-image: url(../img/icn-delete-gray.png);
}
.btn.prev {
	background-image: url(../img/icn-prev-gray.png);
}
.btn.prev:hover {
	background-image: url(../img/icn-prev-hover.png);
}
.btn.next {
	background-image: url(../img/icn-next-gray.png);
}
.btn.next:hover {
	background-image: url(../img/icn-next-hover.png);
}
.btn.first {
	background-image: url(../img/icn-first-gray.png);
}
.btn.first:hover {
	background-image: url(../img/icn-first-hover.png);
}
.btn.last {
	background-image: url(../img/icn-last-gray.png);
}
.btn.last:hover {
	background-image: url(../img/icn-last-hover.png);
}
.btn.delete:hover {
	color: #FFF;

	background-color: #f54c36;
	background-image: url(../img/icn-delete-hover.png);
	
	border: solid 1px #FFF;
}
.btn.edit {
	background-image: url(../img/icn-edit-gray.png);
}
.btn.edit:hover {
	background-image: url(../img/icn-edit-hover.png);
}
/* BUTTONS */



/* CHECKBOX */
.checkbox-holder {
	cursor: pointer;
}
.checkbox-holder:hover {
	text-decoration: underline;
}
/* CHECKBOX */



/* DROPDOWN */
.dropdown {
	position: relative;
	display: inline-block; *display: inline; zoom: 1;
/* 	width: auto; */
	max-width: 240px;
	margin: 2px;
	padding: 8px 12px 8px 12px;
	
	color: #8099bf;
	font-family: 'helveticaneuecyrmedium', sans-serif;
	line-height: normal;
	vertical-align: middle;
	
	border: solid 1px #a2b7d8;	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	
	background-color: #FFF;
/* 	background-image: url(../img/icn-dropdown-gray.png); */
	background-repeat: no-repeat;
	background-position: right center;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	
	cursor: pointer;
	z-index: 5;
}
.dropdown:hover {
	color: #FFF;
	
	background-color: #5e79a2;
	
	border-color: #5e79a2;
}
.dropdown.active { 
	border-color: #5e79a2;
	
	z-index: 100;
}
.dropdown .title { 
	white-space: nowrap;
	color: inherit;
	font-weight: inherit;
	text-align: center;
	text-overflow: ellipsis;
	
	overflow: hidden;

	cursor: pointer;
}
.dropdown .title:after {
	margin-left: 10px;
	font-family: 'FontAwesome';
	content: '\f107';
}
.dropdown .title .drop {
	margin-left: 5px;
	margin-right: -2px;
	
	border-left: solid 1px #CCC;
} 
.dropdown .options {
	position: absolute; top: 27px; left: -1px;
	min-width: 100%; height: 0;
	width: 1000px;
	max-height: 160px;
	float: left;

	color: #8b8b8b;
	font-family: 'helveticaneuecyrlight';
	text-align: left;
	
	border: solid 0px #7f98be;
	
	background-color: #FFF;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-overflow-scrolling: touch;
	
	overflow-x: hidden;
	overflow-y: auto;
	visibility: hidden;
}
.dropdown.down .options {
	top: 33px;
	bottom: auto;
}
.dropdown.up .options {
	top: auto;
	bottom: 32px;
}
.dropdown.drop-left .options {
	right: -1px;
	left: auto;
}
.dropdown.active .options {
	height: auto;
	
	border-width: 1px;
	visibility: visible;
}
.dropdown .options hr {
	margin: 0;
	padding: 0;
	border: none;
	border-bottom: solid 1px #EEE;
}
.dropdown .options .option {
	position: relative;
	
	white-space: nowrap;
	overflow: hidden;
	
	color: #8b8b8b;
	
	cursor: pointer;
}
.dropdown .options .option:first-child {
	-webkit-border-radius: 1px 1px 0 0;
	-moz-border-radius: 1px 1px 0 0;
	-o-border-radius: 1px 1px 0 0;
	border-radius: 1px 1px 0 0;	
}
.dropdown .options .option:last-child {
	-webkit-border-radius: 0 0 1px 1px;
	-moz-border-radius: 0 0 1px 1px;
	-o-border-radius: 0 0 1px 1px;
	border-radius: 0 0 1px 1px;	
}
.dropdown .options .option:hover {
	color: #FFF;
	
	background-color: #7f98be;
}
.dropdown .options .option.to-delete {
	background-color: #f54c36;
}
.dropdown .options .option .dropdown-item-title {
	display: inline-block; *display: inline; zoom: 1;
	height: 100%;
	max-width: 215px;
	padding: 8px 12px;
	
	white-space: nowrap;
	text-overflow: ellipsis;
	
	overflow: hidden;
}
.dropdown.with-control .options .option .dropdown-item-title {
	margin-right: 20px;
}
.dropdown .options .option .dropdown-item-delete {
	position: absolute; right: 14px; top: 9px;
	width: 18px; height: 100%;
	
	color: inherit;
}
.dropdown .options .option:hover .dropdown-item-delete {
	color: #FFF;
}
/* DROPDOWN */



/* TIMEPICKER */
.ui-timepicker-div .ui-widget-header { 
	margin-bottom: 8px; 
}
.ui-timepicker-div dl { 
	text-align: left; 
}
.ui-timepicker-div dl dt { 
	float: left; clear:left; padding: 0 0 0 10px; 
}
.ui-timepicker-div dl dd { 
	margin: 20px 10px 10px 80px; 
}
.ui-timepicker-div td { 
	font-size: 10px; 
}
.ui-tpicker-grid-label { 
	background: none; border: none; margin: 0; padding: 0; 
}
.ui-timepicker-rtl{ 
	direction: rtl; 
}
.ui-timepicker-rtl dl { 
	text-align: right; padding: 0 5px 0 0; 
}
.ui-timepicker-rtl dl dt{ 
	float: right; clear: right; 
}
.ui-timepicker-rtl dl dd { 
	margin: 0 45% 10px 10px; 
}
/* TIMEPICKER */



/* PAGING */
.paging {
	display: inline-block; *display: inline; zoom: 1;
	
	vertical-align: top;
}
.paging .btn {
	margin: 2px 0px;
}
.paging input {
	margin: 2px 0px;
	width: 30px;
	text-align: center;
}
.paging .total {
	display: inline-block; *display: inline; zoom: 1;
	vertical-align: top;
}
/* PAGING */



/* CHANGE VIEW */
.change-view {
	position: absolute; top: 0px; right: 0px;
	display: inline-block;
	margin: 2px 0;
}
.change-view a {
	padding: 10px 12px;
	float: left;

	color: #7f98be;
	font-size: 14px;
	
	background-color: #FFF;
}
.change-view a:first-child {
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.change-view a:last-child {
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
.change-view a.active {
	color: #FFF;
	background-color: #ccd2dc;
}
/* CHANGE VIEW */