/* FORM */
.form {
	padding: 10px 0;
}
.form .label {
	margin: 20px 30px 5px 30px;
	
	font-family: 'helveticaneuecyrmedium', sans-serif;
}
.form .input {
	margin: 5px 30px;
}
.form .input input {
	min-width: 90%;
}
.form .input textarea {
	width: 90%;
}
.form .input select.chsn {
	width: 90px;
}
.form p {
	margin: 5px 30px;
}
.form .comment {
	margin: 5px 30px;
	
	color: #777;
	line-height: 18px;
}
.form .controls {
	margin: 20px 30px;
}
/* ROW */
.form-row {
	padding: 5px;
}
.form-row-title {
	display: inline-block; *display: inline; zoom: 1;
	width: 220px;
	min-width: 200px;
	padding: 11px 10px 5px 5px;

	color: #868686;
	font-family: 'helveticaneuecyrmedium', Helvetica, Arial, sans-serif;
	text-align: right;
	vertical-align: top;
}
.form-row-input {
	display: inline-block; *display: inline; zoom: 1;
	width: 400px;
	
	line-height: 27px;
}
.form-row-input select.chsn {
	width: 400px;
}
.form-row-input input {
	width: 250px;
}
.form-row-input input.small {
	width: 150px;
}
.form-row-input input.big {
	width: 350px;
}
.form-row-input .datepicker,
.form-row-input .timepicker {
	width: 100px;
}
.form-row-input .with-button {
	width: 320px;
}
.form-row-input input[type='checkbox'] {
	width: auto;
	height: 29px;
	vertical-align: middle;
}
.form-row-input input[type='radio'] {
	width: auto; /* height: 19px; */
	margin-right: 10px;
	
	vertical-align: middle;
}
.form-row-input .radio {
	cursor: pointer;
}
.form-row-input textarea {
	width: 380px;
}
.form-row-comment {
	display: inline-block; *display: inline; zoom: 1;
}
.form-row-value {
	display: inline-block; *display: inline; zoom: 1;
	width: 400px;
	padding: 11px 10px 5px 5px;
}
.form-row-value ol {
	margin: 0;
	padding-left: 20px;
}
.form-row-value .auction-gallery {
	padding: 0;
}
/* FORM */

/* 600-1000 */
@media (min-width: 0px) and (max-width: 1260px) {
	.form-row-title {
		display: block;
		width: 100%;
		text-align: left;
	}
	.form-row-title {
		display: block;
		width: 100%;
	}
}
