/* MAIN BLOCK */
.main-block {
	display: none;
	position: absolute; top: 80px; right: 0px; bottom: 0px; left: 300px;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	z-index: 6;
}
.main-block.active {
	display: block;
}
.main-block.expanded {
	left: 80px;
}
.main-block.blur { 
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);
}

.content {
	position: absolute; top: 40px; right: 0; bottom: 0; left: 0;
	padding: 15px;
	
	overflow: hidden;
}
.content.with-side-panel {
	right: 60px;
}
.content .header {
	position: absolute; top: 0; right: 0; left: 0;
	height: 38px;
	padding: 5px 30px 15px 30px;
	
	color: #8b8b8b;
	vertical-align: middle;
	line-height: 38px;
	
	z-index: 100;
}
.content .header .expand-all {
	display: inline-block;
	margin-left: 10px;
	
	font-size: 1.25em;
}
.content .header .expand-all.hide {
	display: none;
}
.content .header .collapse-all {
	display: inline-block;
	margin-left: 10px;
	
	font-size: 1.25em;
}
.content .header .collapse-all.hide {
	display: none;
}
.content .header .btn {
	padding: 8px 12px;
	
	vertical-align: top;
}
.content .header input {
	padding: 8px 11px;

	vertical-align: top;
}
.content .header .content-title {
	display: inline-block; *display: inline; zoom: 1;
	margin-right: 10px;

	color: #626262;
	font-size: 2.25em;
	line-height: 34px;
	font-family: 'helveticaneuecyrthin', sans-serif;
	vertical-align: top;
	white-space: nowrap;
	text-overflow: ellipsis;
	
	overflow: hidden;
}
.content .content-holder {
	position: absolute; top: 52px; right: 0px; bottom: 50px; left: 0px;
	padding: 10px 30px;
	
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.content .content-holder.padding-10 {
	padding: 10px;
}
.content .content-footer {
	position: absolute; right: 0; bottom: 0; left: 0;
	height: 42px;
	padding: 4px 10px;
	
	color: #777;
	vertical-align: middle;
	line-height: 42px;
	
	background-color: #FFF;
}
.content .content-footer .footer-criteria {
	display: inline-block; *display: inline; zoom: 1;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: top;
}
.content .content-footer a {
	color: inherit;
}
.content .content-footer a:hover {
	color: #227bde;
}
/* MAIN BLOCK */