/* OTHER */
.image-preview {
	position: absolute;
	width: 160px; height: 160px;
	
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	
	border: solid 1px #E6E6E6;
	
	z-index: 1000;
}
.comment {
	color: #777;
}
.datepicker {
	width: 100px;
}
.warning {
	border-color: red;
}
/* OTHER */




/* WELCOME PAGE */
.welcome-page {
	width: 960px;
	margin: 0 auto;
}
.welcome-page-header {
	margin: 50px 0;
}
.welcome-page-header .logo {
	width: 400px;
	float: left;
}
.welcome-page-header .welcome-message {
	width: 520px;
	float: right;
}
.welcome-page-content {
	padding-top: 40px;
	clear: both;
}
.welcome-page-content h2 {
	padding: 0;
}
.welcome-page-content .applications {
	width: 400px;
	float: left;
}
.welcome-page-content .personal {
	width: 500px;
	float: right;
}
.welcome-page-content ul.notifications,
.welcome-page-content ul.shortcuts,
.welcome-page-content ul.news {
	margin: 20px 0;
	padding: 0;
}
.welcome-page-content ul.notifications li,
.welcome-page-content ul.shortcuts li,
.welcome-page-content ul.news li {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}
.welcome-page-content ul.notifications li a,
.welcome-page-content ul.shortcuts li a,
.welcome-page-content ul.news li a {
	color: #777;
	text-decoration: none;
}
.welcome-page-content ul.notifications li a:hover,
.welcome-page-content ul.shortcuts li a:hover,
.welcome-page-content ul.news li a:hover {
	color: #000;
	text-decoration: underline;
}
.welcome-page-content ul.news li .date {
	padding: 5px 0;
	
	font-weight: bold;
}
.welcome-page-content ul.shortcuts li a.action-link {
	padding: 5px;
	color: #777;
	text-decoration: none;
}
.welcome-page-content ul.shortcuts li a.action-link img {
	vertical-align: top;
}
.welcome-page-content ul.shortcuts li a.action-link:hover {
	color: red;
	text-decoration: none;
}
.welcome-page-content ul.apps {
	margin: 0;
	padding: 0;
	
}
.welcome-page-content ul.apps li {
	margin: 10px 0;
	padding: 10px;
	
	list-style: none;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.welcome-page-content ul.apps li:hover {
	cursor: pointer;
	background-color: #FFF;
}
.welcome-page-content ul.apps li .app-icon {
	width: 35px; height: 35px;
	margin: 0 15px 0 10px;
	display: inline-block; *display: inline; zoom: 1;
	
	vertical-align: top;

}
.welcome-page-content ul.apps li .app-icon img {
	width: inherit; height: inherit;

	float: left;
}
.welcome-page-content ul.apps li .app-info {
	display: inline-block; *display: inline; zoom: 1;
	width: 305px;
}
.welcome-page-content ul.apps li .app-title {
	display: inline-block; *display: inline; zoom: 1;
	height: 20px;
	
	color: #227bde;
	font-size: 16px;
	line-height: 20px;
}

.welcome-page-content ul.apps li .app-description {
	color: #999;
	
	font-size: 12px;
	line-height: 15px;
}
.welcome-page-content .personal {
	padding: 10px 20px;
	
	background-color: #FFF;	
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
/* WELCOME PAGE */





/* MAIN FOOTER */
.main-footer {
	display: inline-block; *display: inline; zoom: 1;
	position: absolute; right: 5px; bottom: 10px;
	width: auto;
	padding: 0 10px;
	
	color: #CCC;
	font-size: 11px;
	text-align: right;

	overflow: hidden;
	z-index: 0;
}
.main-footer a {
	color: inherit;
}
.main-footer a:hover {
	color: #000;
}
/* MAIN FOOTER */