/* 
COLOR SCHEME:

Common:
	Button Default: #E6E6E6
	Button Hover: #FFF
	
	Button Highlighted Default: #227bde
	Button Highlighted Hover: #FFF
	
	Button Delete Default: #E6E6E6
	Button Delete Hover: red

Toolbar:
	Toolbar: #227bde
Navigation:
	Navigation Panel: #373737

	Navigation All Default: #171717
	Navigation All Hover: #444
	Navigation All Selected: #0B64C8
	
	Navigation Level 1 Default: #333
	Navigation Level 1 Hover: #444
	Navigation Level 1 Selected: #227bde
	
	Navigation Level 2 Default: #272727
	Navigation Level 2 Hover:#444
	Navigation Level 2 Selected: #1A73d7
	
	Navigation Level 3 Default: #222
	Navigation Level 3 Hover: #444
	Navigation Level 3 Selected: #126CCF

	Navigation Level 4 Default: #171717
	Navigation Level 4 Hover: #444
	Navigation Level 4 Selected: #0B64C8	

Content:
	Breadcrumbs: #FFF
	
	Content Header: #F6F6F6
	Content Footer: #F6F6F6

Side Panel:
	Side Panel Header: #F6F6F6
	Side Panel Footer: #F6F6F6
	
*/


/* COMMON STYLES / HTML ELEMENTS */
.debug{border:dashed 1px Red;}
.debugG{border:dashed 1px Green;}
.debugY{border:dashed 1px Yellow;}
.debugB{border:dashed 1px Blue;}
.debugW{border:dashed 1px White;}

html {
	width: 100%; height: 100%;
	min-width: 600px; min-height: 400px;
	
	overflow: hidden;
}
body {
	position: relative;
	width: 100%; height: 100%;
	margin: 0;
	
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	
	background-color: #F6F6F6;
	
	overflow: hidden;
}
h1 {
	font-size: 20px;
}
h2 {
	padding-top: 10px;
	font-size: 18px;
}
h3 {
	font-size: 16px;
}

label {
	vertical-align: top;
}

/* COMMON STYLES / HTML ELEMENTS */


/* HINT */
.hint-holder {
	display: inline-block; *display: inline; zoom: 1;
	position: relative;
}
.hint {
	display: none;
	position: absolute;
	width: 180px; height: auto;
	padding: 10px;
	float: left;
	
	color: #777;
	line-height: 20px;
	
	background-color: #FFF;
	
	border: solid 1px #E6E6E6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	
	opacity: 0;
	z-index: 200;
}
.hint-holder .hint .arrow { 
	position: absolute; left: -16px; top: 50%;
	width: 16px; height: 16px;
	margin-top: -8px;
	
	background-image: url(../img/arrow.png);
}
.hint-holder.active .hint {
	display: block;
	opacity: 1;
}
/* HINT */



/* ERROR */
.error {
	display: none;
	position: absolute;/*  right: -210px; top: 0; */
	width: 180px; height: auto;
	padding: 10px;
	
	color: #777;
	line-height: 20px;
	
	background-color: #FFF;
	
	border: solid 1px #E6E6E6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	z-index: 200;
}
.error.active {
	display: block;
}
.error .arrow { 
	position: absolute; left: -16px; top: 50%;
	width: 16px; height: 16px;
	margin-top: -8px;
	
	background-image: url(../img/arrow.png);
}
/* ERROR */



/* FLOAT */
.float-left {
	margin-right: 4px;
	float: left;
}
.float-right {
	margin-left: 4px;
	float: right;
}
.clear {
	clear: both;
}
/* FLOAT */



/* ALLIGN */
.align-left {
	text-align: left;	
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
/* ALLIGN */















/* FORM */
.form .label {
	margin: 20px 30px 5px 30px;
	
	font-weight: bold;
}
.form .input {
	margin: 5px 30px;
}
.form .input input {
	min-width: 90%;
}
.form .input select.chsn {
	width: 90px;
}
.form p {
	margin: 5px 30px;
}
.form .comment {
	margin: 5px 30px;
	
	color: #777;
	line-height: 18px;
}
.form .controls {
	margin: 20px 30px;
}
/* FORM */



/* OTHER */
.image-preview {
	position: absolute;
	width: 160px; height: 160px;
	
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	
	border: solid 1px #E6E6E6;
	
	z-index: 1000;
}
.comment {
	color: #777;
}
.datepicker {
	width: 100px;
}
.warning {
	border-color: red;
}
/* OTHER */




/* WELCOME PAGE */
.welcome-page {
	width: 960px;
	margin: 0 auto;
}
.welcome-page-header {
	margin: 50px 0;
}
.welcome-page-header .logo {
	width: 400px;
	float: left;
}
.welcome-page-header .welcome-message {
	width: 520px;
	float: right;
}
.welcome-page-content {
	padding-top: 40px;
	clear: both;
}
.welcome-page-content h2 {
	padding: 0;
}
.welcome-page-content .applications {
	width: 400px;
	float: left;
}
.welcome-page-content .personal {
	width: 500px;
	float: right;
}
.welcome-page-content ul.notifications,
.welcome-page-content ul.shortcuts,
.welcome-page-content ul.news {
	margin: 20px 0;
	padding: 0;
}
.welcome-page-content ul.notifications li,
.welcome-page-content ul.shortcuts li,
.welcome-page-content ul.news li {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}
.welcome-page-content ul.notifications li a,
.welcome-page-content ul.shortcuts li a,
.welcome-page-content ul.news li a {
	color: #777;
	text-decoration: none;
}
.welcome-page-content ul.notifications li a:hover,
.welcome-page-content ul.shortcuts li a:hover,
.welcome-page-content ul.news li a:hover {
	color: #000;
	text-decoration: underline;
}
.welcome-page-content ul.news li .date {
	padding: 5px 0;
	
	font-weight: bold;
}
.welcome-page-content ul.shortcuts li a.action-link {
	padding: 5px;
	color: #777;
	text-decoration: none;
}
.welcome-page-content ul.shortcuts li a.action-link img {
	vertical-align: top;
}
.welcome-page-content ul.shortcuts li a.action-link:hover {
	color: red;
	text-decoration: none;
}
.welcome-page-content ul.apps {
	margin: 0;
	padding: 0;
	
}
.welcome-page-content ul.apps li {
	margin: 10px 0;
	padding: 10px;
	
	list-style: none;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.welcome-page-content ul.apps li:hover {
	cursor: pointer;
	background-color: #FFF;
}
.welcome-page-content ul.apps li .app-icon {
	width: 35px; height: 35px;
	margin: 0 15px 0 10px;
	display: inline-block; *display: inline; zoom: 1;
	
	vertical-align: top;

}
.welcome-page-content ul.apps li .app-icon img {
	width: inherit; height: inherit;

	float: left;
}
.welcome-page-content ul.apps li .app-info {
	display: inline-block; *display: inline; zoom: 1;
	width: 305px;
}
.welcome-page-content ul.apps li .app-title {
	display: inline-block; *display: inline; zoom: 1;
	height: 20px;
	
	color: #227bde;
	font-size: 16px;
	line-height: 20px;
}

.welcome-page-content ul.apps li .app-description {
	color: #999;
	
	font-size: 12px;
	line-height: 15px;
}
.welcome-page-content .personal {
	padding: 10px 20px;
	
	background-color: #FFF;	
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
/* WELCOME PAGE */
















/* MAIN BLOCK */
.main-block {
	display: none;
	position: absolute; top: 50px; right: 0; bottom: 0; left: 300px;
	
	background-color: #FFF;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	z-index: 6;
}
.main-block.active {
	display: block;
}
.main-block.expanded {
	left: 50px;
}

.main-block .content {
	position: absolute; top: 30px; right: 0; bottom: 0; left: 0;
	padding: 15px 15px 0 15px;
	
	overflow: hidden;
}
.main-block .content .header {
	position: absolute; top: 0; right: 0; left: 0;
	height: 32px;
	padding: 7px 9px;
	
	color: #000;
	vertical-align: middle;
	line-height: 32px;
	
	background-color: #F6F6F6;
	z-index: 100;
}
.main-block .content .header .btn {
	vertical-align: top;
}
.main-block .content .header input {
	vertical-align: top;
}
.main-block .content .header .content-title {
	display: inline-block; *display: inline; zoom: 1;

	color: #000;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	
	overflow: hidden;
}
.main-block .content .content-holder {
	position: absolute; top: 46px; right: 0; bottom: 46px; left: 0;
	
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.main-block .content .content-footer {
	position: absolute; right: 0; bottom: 0; left: 0;
	height: 32px;
	padding: 7px 9px;
	
	color: #777;
	vertical-align: middle;
	line-height: 34px;
	
	background-color: #F6F6F6;
}
.main-block .content .content-footer .footer-criteria {
	display: inline-block; *display: inline; zoom: 1;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: top;
}
.main-block .content .content-footer a {
	color: inherit;
}
.main-block .content .content-footer a:hover {
	color: #227bde;
}
.paging {
	display: inline-block; *display: inline; zoom: 1;
	
	vertical-align: top;
}
.paging .btn {
	margin: 2px 0px;
}
.paging input {
	margin: 2px 0px;
	width: 30px;
	text-align: center;
}
.paging .total {
	display: inline-block; *display: inline; zoom: 1;
	vertical-align: top;
}
/* MAIN BLOCK */



/* DASHBOARD */
.dashboard {
	position: absolute; left: 0; top: 0; right: 0; bottom: 0;
	width: 100%; height: 100%;
	
	background-image: url(../img/bbgc-logo-back.png);
	background-repeat: no-repeat;
	background-position: center center;
}
/* DASHBOARD */








/* SECTION */
.section {
}
.section .section-header {
	position: relative;
	padding: 5px 9px 5px 20px;
	height: 33px;
	line-height: 33px;

	background-color: #E6E6E6;
}
.section .section-header .btn {
	font-size: 12px;
	vertical-align: top;
}
.section .section-header .dropdown {
	vertical-align: top;
}
.section .section-header > span {
	color: #888;
	font-size: 14px;
	font-weight: bold;
	vertical-align: super;
}
.section .section-header .expanded-collapsed {
	padding-right: 20px;
	margin-right: 5px;
	
	background-image: url(../img/icn-section-expanded-gray.png);
	background-position: right center ;
	background-repeat: no-repeat;
	
	cursor: pointer;
}
.section .section-header .expanded-collapsed:hover {
	color: #227bde;
	background-image: url(../img/icn-section-expanded-hover.png);
}
.section.collapsed .section-header .expanded-collapsed {	
	background-image: url(../img/icn-section-collapsed-gray.png);
}
.section.collapsed .section-header .expanded-collapsed:hover {
	background-image: url(../img/icn-section-collapsed-hover.png);
}
.section.collapsed .section-header .dropdown {
	display: none;
}
.section.collapsed .section-header .btn {
	display: none;
}
.section .section-content {
	position: relative;
	display: block;
	height: auto;
	
	-webkit-transition: 
		all 0.3s ease-out;
	-moz-transition: 
		all 0.3s ease-out;
	-o-transition: 
		all 0.3s ease-out;
	transition: 
		all 0.3s ease-out;

	overflow-x: auto;
	overflow-y: hidden;
	opacity: 1;
	
	min-height:0%;   /* IE9 fix */
}
.section.collapsed .section-content {
	display: none;
	opacity: 0;
	height: 0;
	padding: 0;
}
.section-footer {
	position: relative;
	display: block;
	padding: 5px 20px;
	height: 28px;
	
	text-align: left;
	line-height: 28px;
	
	-webkit-transition: 
		all 0.3s ease-out;
	-moz-transition: 
		all 0.3s ease-out;
	-o-transition: 
		all 0.3s ease-out;
	transition: 
		all 0.3s ease-out;
}
.section.collapsed .section-footer {
	display: none;
	opacity: 0;
	height: 0;
	padding: 0;
}
.section-content .column .chsn { 
	width: 100%;
}

/* TEXT */
.section .section-content.text {
	width: auto;
	max-width: 640px;
	padding: 10px 20px;
	
	font-size: 14px;
	line-height: 1.5em;
	
	box-sizing: border-box;
}
.section .section-content.text p {
	color: #333;
	text-align: left;
}
.section .section-content.text ul {
}
.section .section-content.text ul li {
	color: #333;
}
.section .section-content.text a {
	color: inherit;
}
.section .section-content.text a:hover {
	color: #227bde;
}
.section .section-content.text strong {
}
.section .section-content.text b {
}
.section .section-content.text hr {
}
.section .section-content.text img {
	max-width: inherit;
}
.section .section-content.text .img-holder {
	text-align: center;
}
.section .section-content.text .img-title {
	font-size: 12px;
	color: #777;
	text-align: center;
}
.section .section-content.text table {
	width: 100%;
	
	font-size: 12px;
	
	border: solid 1px #EEE;
}
.section .section-content.text table th {
	padding: 5px;
	background-color: #F0F0F0;
}
.section .section-content.text table td {
	padding: 5px;
}
.section .section-content.text table tr.odd td {
	background-color: #FFF;
}
.section .section-content.text table tr.even td {
	background-color: #F8F8F8;
}
/* TEXT */


/* TREE */
.section .section-content.tree {
	width: auto;
	max-width: 640px;
	padding: 10px 20px;
	
	line-height: 1.5em;
	
	box-sizing: border-box;
}
.section .section-content.tree .leaf {
	display: none;
	padding: 3px 0 2px 15px;
	margin: 0 0 0 10px;
	
	background-image: url(../img/icn-tree-collapsed-black.png);
	background-repeat: no-repeat;
	background-position: left 6px;
	
	cursor: pointer;
}
.section .section-content.tree .leaf a {
	color: #444;
}
.section .section-content.tree .leaf a:hover {
	color: #227bde;
}
.section .section-content.tree .leaf.expanded {
	background-image:  url(../img/icn-tree-expanded-black.png);
	background-position: left 7px;
}
.section .section-content.tree .leaf.last {
	padding-left: 0;
	
	color: #777;

	background-image: none;
	border-bottom: solid 1px #F6F6F6;
}
.section .section-content.tree .leaf.level-1 {
	display: block;
	margin-left: 0px;
}
.section .section-content.tree .leaf.level-1.expanded .leaf.level-2 {
	display: block;
}
.section .section-content.tree .leaf.level-2.expanded .leaf.level-3 {
	display: block;
}
.section .section-content.tree .leaf.level-3.expanded .leaf.level-4 {
	display: block;
}
.section .section-content.tree .leaf.level-4.expanded .leaf.level-5 {
	display: block;
}
.section .section-content.tree .leaf.level-5.expanded .leaf.level-6 {
	display: block;
}
/* TREE */


/* COMMENTS */
.section-content.comments {
	width: auto;
	max-width: 640px;
	padding: 10px 20px;
	
	line-height: 1.5em;
	
	box-sizing: border-box;
}
.section-content.comments .comment {
	position: relative;
	padding: 8px 0;
	
	min-height: 74px;

	color: #000;
}
.section-content.comments .comment .avatar {
	position: absolute; top: 9px; left: 0;
	width: 70px; height: 70px;
}
.section-content.comments .comment .avatar img {
	width: 70px; height: 70px;
	
	border: solid 1px #E6E6E6;
}
.section-content.comments .comment .comment-header {
	padding-left: 85px;
}
.section-content.comments .comment .comment-header .comment-author {
	display: inline-block; *display: inline; zoom: 1;
	width: auto;
	
	font-size: 14px;
	font-weight: bold;
	
	overflow: hidden;
}
.section-content.comments .comment .comment-header .comment-date {
	display: inline-block; *display: inline; zoom: 1;
	float: right;
	width: 135px;
	font-size: 11px;
	
	color: #777;
	text-align: right;
	
	overflow: hidden;
}
.section-content.comments .comment .comment-content {
	color: #333;
	padding-left: 85px;
}
.section-content.comments .comment .comment-content p {
	margin: 5px 0;
}
.section-content.comments .comment .comment-content textarea {
	width: 98%;
	max-width: 545px;
	margin: 5px 0;
}
.section-content.comments .comment .comment-file {
	padding-left: 110px;
	margin: 5px 0;
	
	color: #777;
	
	background-image: url(../img/icn-attachment-gray.png);
	background-repeat: no-repeat;
	background-position: 90px 2px;
}
.section-content.comments .comment .comment-file a {
	color: #777;
	text-decoration: none;
}
.section-content.comments .comment .comment-file a:hover {
	color: #227bde;
	text-decoration: underline;
}
/* COMMENTS */

/* TABLE */
.list-header {
	position: relative;
	display: table;
	width: 98%;
	padding: 0px 1% 0 1%;
	
	font-weight: bold;
	white-space: nowrap;
	
	background-color: #F0F0F0;
	z-index: 1;
}
.list-header:hover {
	z-index: 2;
}
.list-header .column {
	padding: 5px;
}
.list-header .column.draggable:hover {
	cursor: hand;
}
.list-header .column.sortable {
	cursor: pointer;
}
.list-header .column.sortable .column-title {
	display: inline-block; *display: inline; zoom: 1;
	
	white-space: nowrap;
	text-overflow: ellipsis;
	
	overflow: hidden;
}
.list-header .column.sortable .sort {
	display: inline-block; *display: inline; zoom: 1;
	width: 11px; height: 100%;
	margin-left: -1px;
	
	vertical-align: top;
	
	background-position: center center;
	background-repeat: no-repeat;
}
.list-header .column.sortable.asc .sort {
	background-image: url(../img/icn-sort-asc.png);
}
.list-header .column.sortable.desc .sort {
	background-image: url(../img/icn-sort-desc.png);
}
.list-row {
	position: relative;
	display: table;
	width: 98%;
	padding: 1px 1% 1px 1%;
	
	color: #333;
	white-space: nowrap;
	
	/* border-bottom: solid 1px #F8F8F8; */
	z-index: 1;
}
.list-row a {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}
.list-row.odd {
	background-color: #FFF;
}
.list-row.even {
	background-color: #F8F8F8;
}
.list-row.selected {
	background-color: #edf4f9;
}
.list-row:hover {
/* 	background-color: #F3F3F3; */
	color: #227bde;
	/* border-bottom: solid 1px #82bbfc; */

	z-index: 99;
}
.column {
	display: inline-block; *display: inline; zoom: 1;
	height: 33px;
	min-height: 33px; max-height: 33px;
	padding: 1px 5px;

	line-height: 33px;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
}
.column.highlighted {
	background-color: #e8f3ff;
}
.column.vertical {
	text-align: center;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* COLUMNS */
.droppable {
}
.droppable.draggable-active {
	border-left: solid 2px #DDD;
}
.droppable.draggable-hover {
	border-left: solid 2px #227bde;
}
.column.action {
	width: 27px;
}
.column.birthday {
	width: 120px;
}
.column.checkbox {
	width: 15px;
}
.column.controls {
	width: 47px;
	font-weight: normal;
	overflow: inherit;
}
.column.date {
	width: 120px;
}
.column.email {
	width: 160px;
}
.column.filename {
	width: 340px;
}
.column.filetype {
	width: 60px;
}
.column.id {
	width: 60px;
}
.column.long {
	width: 600px;
}
.column.index {
	width: 20px;
	text-align: right;
}
.column.thumb img {
	margin: 2px;
	width: 27px; height: 27px;

	/* vertical-align: middle; */
	
	border: solid 1px #E6E6E6;
}
.column.name {
	width: 150px;
}
.column.position {
	width: 240px;
	overflow: inherit;
}
.column.purpose {
	width: 180px;
	overflow: inherit;
}
.column.price {
	width: 80px;
}
.column.quantity {
	width: 120px;
}
.column.quantity input {
	width: 30px;
	text-align: center;
}
.column.status {
	width: 80px;
}
.column.thumb {
	width: 30px;
}
.column.title {
	width: 200px;
}
/* COLUMNS */
/* TABLE */

/* FORM */
.form {
	padding: 10px 0;
}
.form .form-row {
	padding: 5px;
}
.form .form-row .form-row-title {
	display: inline-block; *display: inline; zoom: 1;
	width: 170px;
	padding-top: 8px;
	padding-right: 5px;

	color: #777;	
	text-align: right;
	vertical-align: top;
}
.form .form-row .form-row-input {
	display: inline-block; *display: inline; zoom: 1;
	width: 410px;
	
	line-height: 27px;
}
.form .form-row .form-row-input select.chsn {
	width: 400px;
}
.form .form-row .form-row-input input {
	width: 390px;
}
.form .form-row .form-row-input .datepicker,
.form .form-row .form-row-input .timepicker {
	width: 100px;
}
.form .form-row .form-row-input .with-button {
	width: 350px;
}
.form .form-row .form-row-input input[type='checkbox'] {
	width: auto;
	height: 29px;
	vertical-align: middle;
}
.form .form-row .form-row-input input[type='radio'] {
	width: auto; /* height: 19px; */
	margin-right: 10px;
	
	vertical-align: middle;
}
.form .form-row .form-row-input .radio {
	cursor: pointer;
}
.form .form-row .form-row-input textarea {
	width: 390px;
	min-width: 390px;
	max-width: 390px;
}
.form .form-row .form-row-comment {
	display: inline-block; *display: inline; zoom: 1;
	width: auto;
}
/* FORM */

/* ANALYTICS*/
.section-content.analytics {
	width: auto;
	max-width: 640px;
	padding: 10px 20px;
}
.section-content.analytics .table {
	border: solid 1px #EEE;
}
.section-content.analytics .header-row {
	background-color: #F0F0F0;
}
.section-content.analytics .header-cell {
	padding: 10px;
	
	font-weight: bold;
	text-align: center;
}
.section-content.analytics .table-row {
	background-color: #FFF;
}
.section-content.analytics .table-cell {
	padding: 8px;
}
.section-content.analytics .odd-table-row {
	background-color: #F8F8F8;
}
.section-content.analytics .hover-table-row {
	background-color: #F3F3F3;
}
/* ANALYTICS*/


/* TABLES */
.section-content.tables {
}
.section-content.tables .column {
	height: auto;
	min-height: 33px;
	
	-webkit-box-shadow: -2px 0 0 -1px #E6E6E6 inset;
	-moz-box-shadow: -2px 0 0 -1px #E6E6E6 inset;
	-ms-box-shadow: -2px 0 0 -1px #E6E6E6 inset;
	-o-box-shadow: -2px 0 0 -1px #E6E6E6 inset;
	box-shadow: -2px 0 0 -1px #E6E6E6 inset;
}
.section-content.tables .column.active {
	-webkit-box-shadow: 0 0 0 1px #009cf4 inset;
	-moz-box-shadow: 0 0 0 1px #009cf4 inset;
	-ms-box-shadow: 0 0 0 1px #009cf4 inset;
	-o-box-shadow: 0 0 0 1px #009cf4 inset;
	box-shadow: 0 0 0 1px #009cf4 inset;
}
.section-content.tables .column input {
	padding: 5px 1px;
	margin-left: -2px;
	width: 100%;

	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: inherit;
	text-transform: inherit;
	text-overflow: ellipsis;
	text-align: inherit;
	
	background-color: inherit;

	overflow: hidden;
	
	border: none;
}
.section-content.tables .list-header .column input {
	font-weight: bold;
}
/* TABLES */
/* SECTION */




/* MAIN FOOTER */
.main-footer {
	display: inline-block; *display: inline; zoom: 1;
	position: absolute; right: 5px; bottom: 10px;
	width: auto;
	padding: 0 10px;
	
	color: #CCC;
	font-size: 11px;
	text-align: right;

	overflow: hidden;
	z-index: 0;
}
.main-footer a {
	color: inherit;
}
.main-footer a:hover {
	color: #000;
}
/* MAIN FOOTER */

/* jQuery UI */
/*
.ui-icon, .ui-widget-content .ui-icon {
	background-image: url(../img/icn-next-gray.png);
	background-position: center center;
}
*/
/* jQuery UI */


/**/