/* MAIN NAVIGATION */
.main-navigation {
	position: absolute; top: 80px; left: 0px; bottom: 50px;
	width: 300px;
	padding: 1px 0 50px 0;
	
	-webkit-font-smoothing: subpixel-antialiased;

	background-color: #FFF;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-overflow-scrolling: touch;

	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 8;
}
.main-navigation.collapsed {
	width: 80px;
}
.main-navigation.blur {
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-ms-filter: blur(4px);
	-o-filter: blur(4px);
	filter: blur(4px);
}

.expand-collapse-underlay {
	position: fixed; bottom: 0px; left: 0;
	width: 300px; height: 50px; 
	
	background-color: #FFF;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	
	z-index: 0;
}
.expand-collapse-underlay.collapsed {
	width: 80px;
}
.expand-collapse-underlay .expand-collapse-lock {
	position: absolute; bottom: 0px; left: 0px; right: 0px;
	height: 50px;
	padding: 0 10px;
	
	color: #5e7598;

	line-height: 50px;
	font-family: 'helveticaneuecyrlight', sans-serif;
	text-align: center;
	text-transform: uppercase;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	
	cursor: pointer;
}
.expand-collapse-underlay .expand-collapse-lock:before {
	
}
.expand-collapse-underlay .expand-collapse-lock.locked { 
	color: #748eb4;
}
.expand-collapse-underlay .expand-collapse-lock:hover {
	color: #102a52;
}
.expand-collapse-underlay .expand-collapse-lock.locked:hover {
	color: #748eb4;
}
.expand-collapse-underlay.collapsed .expand-collapse-lock {
	display: none;
}
.expand-collapse-underlay .expand-collapse {
	position: fixed; bottom: 0px; left: 250px;
	width: 50px; height: 50px;
	padding: 0;
	
	color: #748eb4;
	font-size: 28px;
	line-height: 50px;
	text-align: center;
	
/* 	background-color: #748eb4; */

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	
	cursor: pointer;
}
.expand-collapse-underlay .expand-collapse:hover {
	color: #FFF;

	background-color: #5e79a2;
}
.expand-collapse-underlay .expand-collapse:after {
	font-family: 'FontAwesome';
	content: '\f104';
}
.expand-collapse-underlay.collapsed .expand-collapse {
	left: 0px;
	width: 80px;
}
.expand-collapse-underlay.collapsed .expand-collapse:after {
	font-family: 'FontAwesome';
	content: '\f105';
}

.main-navigation .navigation {
	position: relative;
/* 	width: 100%; */ height: 0;

	line-height: 60px;
	text-overflow: ellipsis;

	background-color: #FFF;
	
	-webkit-box-shadow: -4px 0 0 0px #FFF inset;
	box-shadow: -4px 0 0 0px #FFF inset;

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	overflow: hidden;

	cursor: pointer;
}
.main-navigation .navigation:hover {
	
}
.main-navigation.collapsed .navigation {
	width: 100%;
}
.main-navigation .navigation.expanded,
.main-navigation .navigation.active {
	height: 60px;
	
	-webkit-box-shadow: -4px 0 0 0px #bfcbdf inset;
	box-shadow: -4px 0 0 0px #bfcbdf inset;
}
.main-navigation .navigation.selected {
	color: #333;
	
	background-color: #ecedf2;
	
	-webkit-box-shadow: -4px 0 0 0px #748eb4 inset;
	box-shadow: -4px 0 0 0px #748eb4 inset;
}

.main-navigation .navigation .counter {
	position: absolute; left: 44px; top: 8px;
	width: auto; height: 18px;
	min-width: 12px;
	padding: 0 3px;
	
	color: #FFF;
	font-size: 10px;
	line-height: 18px;
	text-align: center;
	
	background-color: #f54c36;
	
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-o-border-radius: 9px;
	border-radius: 9px;
}
.main-navigation.collapsed .navigation .counter {
	display: block;
}

.main-navigation .navigation .arrow {
	position: absolute; right: 15px; top: 10px;
	width: 20px; height: 40px;
	
	color: #748eb4;
	font-size: 24px;
	line-height: 40px;
}
.main-navigation.collapsed .navigation .arrow {
	display: none;
}
.main-navigation .navigation img {
	width: 30px; height: 30px;
	margin: 9px;
	float: left;

	vertical-align: middle;
}

.main-navigation .navigation .icon {
	width: 40px; height: 40px;
	margin: 10px 8px 10px 20px;
	float: left;

	color: #6581ab;
	font-size: 26px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.main-navigation .navigation .icon.small {
	font-family: 'helveticaneuecyrmedium', sans-serif;
	font-size: 14px;
}
.main-navigation .navigation.selected .icon {
	color: #6581ab;
}
.main-navigation .navigation:hover .icon {
	color: #5e7597;
}

.main-navigation .navigation .title {	
	display: inline-block; *display: inline; zoom: 1;
	width: 200px; max-height: 50px;
	text-align: left;
	
	padding-right: 20px;
	
	box-sizing: border-box;
	
	color: #5e7598;
	font-size: 1em;
	line-height: normal;
	font-weight: normal;
	text-overflow: ellipsis;
/* 	white-space: nowrap; */
	vertical-align: middle;

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	
	overflow: hidden;
}
.main-navigation .navigation:hover .title {	
	color: #102a52;
}
.main-navigation.collapsed .title {
	display: none;
}

/* LEVELS */
.main-navigation .level-1 {
	height: 60px;

	-webkit-box-shadow: 
		0 -21px 0 -20px #dfe7f4,
		0 21px 0 -20px #dfe7f4,
		-4px 0 0 0px #FFF inset;
	box-shadow:
		0 -21px 0 -20px #dfe7f4,
		0 21px 0 -20px #dfe7f4,
		-4px 0 0 0px #FFF inset;
}
.main-navigation .navigation.level-1.expanded {
	-webkit-box-shadow: 
		0 -21px 0 -20px #dfe7f4,
		0 21px 0 -20px #dfe7f4,
		-4px 0 0 0px #bfcbdf inset;
	box-shadow: 
		0 -21px 0 -20px #dfe7f4,
		0 21px 0 -20px #dfe7f4,
		-4px 0 0 0px #bfcbdf inset;
}
.main-navigation .navigation.level-1.selected {
	-webkit-box-shadow: 
		0 -21px 0 -20px #dfe7f4,
		0 21px 0 -20px #dfe7f4,
		-4px 0 0 0px #748eb4 inset;
	box-shadow:
		0 -21px 0 -20px #dfe7f4,
		0 21px 0 -20px #dfe7f4,
		-4px 0 0 0px #748eb4 inset;
}
.main-navigation .level-1 .title {
	text-transform: uppercase;
}
/* Level 2 */
.main-navigation .level-2 .title {	
	padding-left: 0px;
}
/* Level 3 */
.main-navigation .level-3 .title {
	padding-left: 20px;
}
/* Level 4 */
.main-navigation .level-4 .title {
	padding-left: 40px;
}
/* Level 5 */
.main-navigation .level-5 .title {
	padding-left: 60px;
}
/* LEVELS */

/* Collapse all navigation except active and level-1 */
.main-navigation.collapsed .navigation {
	display: none;
}
.main-navigation.collapsed .navigation.active,
.main-navigation.collapsed .navigation.level-1 {
	display: table;
}
/* MAIN NAVIGATION */