/* MAIN TOOLBAR */
.main-toolbar {
	position: absolute; top: 0; right: 0; left: 0;
	height: 50px;
	padding: 15px 20px;
	
	color: #858585;
	
	background-color: #FFF;
	
	z-index: 10;
}
.main-toolbar .left {
	width: 280px;
	float: left;
	
	vertical-align: middle;
}
.main-toolbar .center {
	margin-left: 30px;
	width: 30%;
	float: left;
	
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
}
.main-toolbar .right {
	width: auto;
	float: right;
	
	text-align: right;
	vertical-align: middle;
}
.main-toolbar .img {
	width: 40px; height: 40px;
	margin-right: 20px;
	
	border: none;
	
	float: left;
}
.main-toolbar .img img {
	width: 50px; height: 50px;

	float: left;
}
.main-toolbar .info {
	text-overflow: ellipsis;
	overflow: hidden;
	
	margin-left: 20px;
}
.main-toolbar .info .title {
	height: 50px;
	padding: 5px 0;

	font-family: 'helveticaneuecyrlight';
	font-size: 1.125em;
	font-weight: normal;
	line-height: 20px;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: normal;

	overflow: hidden;
}
.main-toolbar .info .description {
	height: 14px;
	
	font-size: 12px;
	line-height: 14px;
	text-overflow: ellipsis;	

	overflow: hidden;
}

.global-search {
	padding: 10px 15px;
	margin: 6px 0;
	
	font-size: 14px;
	min-width: 160px;
	
	border-color: #CCC;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.global-search:focus {
	width: 250px;
	border-color: #7f98be;
}

.app-status {
	display: none;
	width: 200px; height: 35px;
	margin-left: 15px;
	
	vertical-align: middle;
}
.app-status.active {
	display: inline-block;
}
.app-status .app-status-description {
	padding: 4px;
	color: #777;
}
.app-status .progress-bar {
	width: 100%; height: 4px;
	margin: 1px auto;
	
	background-color: #f6f7f9;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.app-status .progress-bar .progress {
	width: 0; height: 100%;
	
	background-color: #7f98be;
	
	-webkit-transition: width .5s linear;
	-moz-transition: width .5s linear;
	-o-transition: width .5s linear;
	transition: width .5s linear;
	
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-o-border-radius: inherit;
	border-radius: inherit;
}
.app-status .progress-bar.end .progress {
	width: 100%;
}
.btn-login {
	display: inline-block;
	padding: 10px 25px;
	margin: 5px 0;
	
	font-size: 14px;
	font-family: 'helveticaneuecyrmedium', sans-serif;
	text-transform: uppercase;
	
	border: solid 2px #7f98be;
	
	-webkit-border-radius: 20px;
	border-radius: 20px;
	
	color: #7f98be;
	background-color: #FFF;
	
	-webkit-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	
	cursor: pointer;
}
.btn-login:hover { 
	color: #FFF;

	background-color: #7f98be;
}
.language-select {
	display: inline-block;
	margin: 0 10px;
}
.language {
	margin: 5px;
	
	font-size: 0.875em;
}
.language.selected {
	color: #626262;
	
	border-bottom: solid 1px #424242;
}
/* MAIN TOOLBAR */


/* APPLICATION LIST */
.app-select {
	position: relative;
	padding: 10px;
	margin: 0 20px;
	width: 20px; height: 20px;

	color: #7f98be;
	font-size: 1.125em;
	
	-webkit-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	cursor: pointer;
}
.app-select:hover {
	color: #102a52;
}
.application-list {
	position: absolute; top: 0px; right: -138px;
	height: auto; width: 300px;
	padding: 20px 15px;
	
	text-align: center;
	
	background-color: #3f444c;
	
	-webkit-transform: translateY(35px);
	transform: translateY(35px);
	
	-webkit-transition: 
		all 0.25s ease-out;
	-ms-transition: 
		all 0.25s ease-out;
	transition: 
		all 0.25s ease-out;
	
	opacity: 0;
	
	z-index: 9;
}
.application-list.active {
	-webkit-transform: translateY(45px);
	transform: translateY(45px);
	
	opacity: 1;
}
.application-arrow {
	position: absolute; left: 162px; top: -20px;
	
	color: #3f444c;
	font-size: 30px;
}
.application {
	display: inline-block;
	height: 70px; width: 80px;
	margin: 10px;
	float: left;

	color: #FFF;
	font-size: 0.875em;
	text-align: center;
}
.application-icon {
	font-size: 3em;
}
.application-title {
	margin-top: 10px;
}
/* APPLICATION LIST */