@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../font/HelveticaNeueCyr-Bold-novacom.eot');
    src: url('../font/HelveticaNeueCyr-Bold-novacom.eot?#iefix') format('embedded-opentype'),
         url('../font/HelveticaNeueCyr-Bold-novacom.woff2') format('woff2'),
         url('../font/HelveticaNeueCyr-Bold-novacom.woff') format('woff'),
         url('../font/HelveticaNeueCyr-Bold-novacom.ttf') format('truetype'),
         url('../font/HelveticaNeueCyr-Bold-novacom.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../font/HelveticaNeueCyr-Light-novacom.eot');
    src: url('../font/HelveticaNeueCyr-Light-novacom.eot?#iefix') format('embedded-opentype'),
         url('../font/HelveticaNeueCyr-Light-novacom.woff2') format('woff2'),
         url('../font/HelveticaNeueCyr-Light-novacom.woff') format('woff'),
         url('../font/HelveticaNeueCyr-Light-novacom.ttf') format('truetype'),
         url('../font/HelveticaNeueCyr-Light-novacom.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('../font/HelveticaNeueCyr-Medium-novacom.eot');
    src: url('../font/HelveticaNeueCyr-Medium-novacom.eot?#iefix') format('embedded-opentype'),
         url('../font/HelveticaNeueCyr-Medium-novacom.woff2') format('woff2'),
         url('../font/HelveticaNeueCyr-Medium-novacom.woff') format('woff'),
         url('../font/HelveticaNeueCyr-Medium-novacom.ttf') format('truetype'),
         url('../font/HelveticaNeueCyr-Medium-novacom.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../font/HelveticaNeueCyr-Thin-novacom.eot');
    src: url('../font/HelveticaNeueCyr-Thin-novacom.eot?#iefix') format('embedded-opentype'),
         url('../font/HelveticaNeueCyr-Thin-novacom.woff2') format('woff2'),
         url('../font/HelveticaNeueCyr-Thin-novacom.woff') format('woff'),
         url('../font/HelveticaNeueCyr-Thin-novacom.ttf') format('truetype'),
         url('../font/HelveticaNeueCyr-Thin-novacom.svg#helveticaneuecyrthin') format('svg');
    font-weight: normal;
    font-style: normal;

}