@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../font/helveticaneuecyr-bold-novacom.eot');
    src: url('../font/helveticaneuecyr-bold-novacom.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneuecyr-bold-novacom.woff2') format('woff2'),
         url('../font/helveticaneuecyr-bold-novacom.woff') format('woff'),
         url('../font/helveticaneuecyr-bold-novacom.ttf') format('truetype'),
         url('../font/helveticaneuecyr-bold-novacom.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../font/helveticaneuecyr-light-novacom.eot');
    src: url('../font/helveticaneuecyr-light-novacom.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneuecyr-light-novacom.woff2') format('woff2'),
         url('../font/helveticaneuecyr-light-novacom.woff') format('woff'),
         url('../font/helveticaneuecyr-light-novacom.ttf') format('truetype'),
         url('../font/helveticaneuecyr-light-novacom.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('../font/helveticaneuecyr-medium-novacom.eot');
    src: url('../font/helveticaneuecyr-medium-novacom.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneuecyr-medium-novacom.woff2') format('woff2'),
         url('../font/helveticaneuecyr-medium-novacom.woff') format('woff'),
         url('../font/helveticaneuecyr-medium-novacom.ttf') format('truetype'),
         url('../font/helveticaneuecyr-medium-novacom.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../font/helveticaneuecyr-thin-novacom.eot');
    src: url('../font/helveticaneuecyr-thin-novacom.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneuecyr-thin-novacom.woff2') format('woff2'),
         url('../font/helveticaneuecyr-thin-novacom.woff') format('woff'),
         url('../font/helveticaneuecyr-thin-novacom.ttf') format('truetype'),
         url('../font/helveticaneuecyr-thin-novacom.svg#helveticaneuecyrthin') format('svg');
    font-weight: normal;
    font-style: normal;

}