<!-- Content's Header -->
<div class="header">
	<span class="content-title">Новый аукцион</span>
	<div class="btn expand-all" title="Развернуть все" onclick="$('.content-holder .section').removeClass('collapsed');">Развернуть</div>
	<div class="btn collapse-all" title="Свернуть все" onclick="$('.content-holder .section').addClass('collapsed');">Свернуть</div>
</div>

<!-- Content -->
<div class="content-holder padding-10">
			
	<!-- Левая колонка -->
	<div class="homepage-left-column">
			<!-- Строка -->
			<div class="page-row">
				
				<div class="banner-outer">
					<div class="banner">
<!-- 						<div class="banner-header">Поставка листов горячекатаных из нержавеющих сталей</div> -->
						<div class="banner-content">
							
							<div class="section">
								<!-- Section's Header -->
								<div class="section-header" onclick="$(this).parents('.section').toggleClass('collapsed')">
									<span class="expanded-collapsed">1. Жизненный цикл</span>
								</div>
								<!-- Section's Content -->
								<div class="section-content form">
									<div class="form-row">
										<div class="form-row-title">Имя</div>
										<div class="form-row-input"><input type="text" id="employeeName" placeholder="Имя" value="Иван" hint="Имя сотрудника" /></div>
									</div>
									<div class="form-row">
										<div class="form-row-title">Фамилия</div>
										<div class="form-row-input"><input type="text" placeholder="Фамилия" value="Каребо" hint="Фамилия сотрудника" /></div>
									</div>
									<div class="form-row">
										<div class="form-row-title">Отчество</div>
										<div class="form-row-input"><input type="text" placeholder="Отчество" value="Валерьевич" hint="Отчество сотрудника" /></div>
									</div>
									<div class="form-row">
										<div class="form-row-title">Пол</div>
										<div class="form-row-input">
											<input type="radio" name="sex" value="male" checked="checked"><span class="radio" onclick="$(this).prev().prop('checked', true);">Мужчина</span> <br/>
											<input type="radio" name="sex" value="female"><span class="radio" onclick="$(this).prev().prop('checked', true);">Женщина</span>
										</div>
									</div>
									<div class="form-row">
										<div class="form-row-title">Дата Рождения</div>
										<div class="form-row-input"><input type="text" placeholder="" value="23.05.1984" hint="Дата рождения" class="datepicker" /></div>
									</div>
									
									<div class="form-row">
										<div class="form-row-title">Изображение</div>
										<div class="form-row-input">
											<label for="file1" class="btn attachment" >Прикрепить файл</label>
											<input type="file" class="attach" id="file1" onchange="$(this).prev('.btn.attachment').html($(this).val()).attr('title', $(this).val());" />
										</div>
									</div>
									
									<div class="form-row">
										<div class="form-row-title">Тип лота</div>
										<div class="form-row-input">
											<div class="dd dropdown">
												<div class="title">Все лоты</div>
												<div class="options">
													<div class="option" value="Движимое имущество"><div class="dropdown-item-title">Движимое имущество</div></div>
													<div class="option" value="Недвижимое имущество"><div class="dropdown-item-title">Недвижимое имущество</div></div>
													<div class="option" value="Земельные участки"><div class="dropdown-item-title">Земельные участки</div></div>
													<div class="option" value="Право аренды недвижимого имущества"><div class="dropdown-item-title">Право аренды недвижимого имущества</div></div>
													<div class="option" value="Право аренды земельных участков"><div class="dropdown-item-title">Право аренды земельных участков</div></div>
													<div class="option" value="Услуги"><div class="dropdown-item-title">Услуги</div></div>
												</div>
											</div>
										</div>
									</div>
									
								</div> <!-- .section-content -->
							</div> <!-- .section -->
							
							<div class="section">
								<!-- Section's Header -->
								<div class="section-header" onclick="$(this).parents('.section').toggleClass('collapsed')">
									<span class="expanded-collapsed">2. Общие сведения</span>
								</div>
								
								<!-- Section's Content -->
								<div class="section-content form">
									
									<div class="form-row">
										<div class="form-row-title">Должность</div>
										<div class="form-row-input" title="Должность">
											<select class="chsn" data-placeholder="Должность">
												<option>Менеджер</option>
												<option>Младший менеджер</option>
												<option>Старший менеджер</option>
												<option>Младший администратор</option>
												<option>Старший администратор</option>
												<option>Администратор</option>
											</select>
										</div>
									</div>
									
									<div class="form-row">
										<div class="form-row-title">Статус</div>
										<div class="form-row-input">
											<select class="chsn" data-placeholder="Статус">
												<option>Работает</option>
												<option>Трудовой отпуск</option>
												<option>Социальный отпуск</option>
												<option>Декретный отпуск</option>
												<option>Не работает</option>
												<option>К увольнению</option>
											</select>
										</div>
									</div>
									
									<div class="form-row">
										<div class="form-row-title">Роли</div>
										<div class="form-row-input">
											<select class="chsn" data-placeholder="Роли пользователя..." multiple="">
												<option value="" selected="true">Администрирование каталога</option>
												<option value="" selected="true">Администрирование сотрудников</option>
												<option value="">Администрирование страниц</option>
												<option value="">Администрирование пользователей</option>
												<option value="">Настройка приложения</option>
												<option value="">Главный куратор</option>
												<option value="">Модерирование содержимого</option>
												<option value="">Оформление заказов</option>
												<option value="">Обработка заказов</option>
											</select>
										</div>
									</div>
									
									<div class="form-row">
										<div class="form-row-title"><label for="check1">Разрешён доступ к внутренним ресурсам</label></div>
										<div class="form-row-input"><input id="check1" type="checkbox" checked="true"/></div>
									</div>
									
									<div class="form-row">
										<div class="form-row-title"><label for="check2">Разрешён доступ к базе данных поставщиков</label></div>
										<div class="form-row-input"><input id="check2" type="checkbox" checked="true"/></div>
									</div>
									
									<div class="form-row">
										<div class="form-row-title">Доступные поректы</div>
										<div class="form-row-input">
											<input type="text" class="autocomplete with-button" placeholder="Введите название проекта" />
											<div class="btn" onclick="openPopup('select-project')">...</div>
										</div>
									</div>
									
									<div class="form-row">
										<div class="form-row-title">Начало смены</div>
										<div class="form-row-input"><input type="text" placeholder="" value="8:00" hint="Начало смены" class="timepicker" /></div>
									</div>
									
									<div class="form-row">
										<div class="form-row-title">Конец смены</div>
										<div class="form-row-input"><input type="text" placeholder="" value="18:00" hint="Начало смены" class="timepicker" /></div>
									</div>
									
									<div class="form-row">
										<div class="form-row-title">Роли</div>
										<div class="form-row-input">
											<select class="chsn" data-placeholder="Роли пользователя..." multiple="">
												<option value="" selected="true">Администрирование каталога</option>
												<option value="" selected="true">Администрирование сотрудников</option>
												<option value="">Администрирование страниц</option>
												<option value="">Администрирование пользователей</option>
												<option value="">Настройка приложения</option>
												<option value="">Главный куратор</option>
												<option value="">Модерирование содержимого</option>
												<option value="">Оформление заказов</option>
												<option value="">Обработка заказов</option>
											</select>
										</div>
									</div>

								</div> <!-- .section-content -->
							</div> <!-- .section -->
							
							<div class="section">
								<!-- Section's Header -->
								<div class="section-header" onclick="$(this).parents('.section').toggleClass('collapsed')">
									<span class="expanded-collapsed">3. Условия</span>
								</div>
								
								<!-- Section's Content -->
								<div class="section-content form">
									<div class="form-row">
										<div class="form-row-title">Условия</div>
										<div class="form-row-input"><textarea placeholder="Условия проведения торгов" hint="Условия проведения торгов" style="height: 120px;"></textarea></div>
									</div>
									<div class="form-row">
										<div class="form-row-title">Заметки</div>
										<div class="form-row-input"><textarea placeholder="Замекти" hint="Любые комментарии к условиям" readonly="true">Пример нередактируемых условий</textarea></div>
									</div>
								</div> <!-- .section-content -->
							</div> <!-- .section -->
							
							<div class="section">
								<!-- Section's Header -->
								<div class="section-header" onclick="$(this).parents('.section').toggleClass('collapsed')">
									<span class="expanded-collapsed">4. Задаток</span>
								</div>
								
								<!-- Section's Content -->
								<div class="section-content form">
									<div class="form-row">
										<div class="form-row-title">Заметка</div>
										<div class="form-row-input"><textarea placeholder="Замекти" hint="Любые комментарии трудовой деятельности" readonly="true">Добросовестный, аккуратный и опытный работник.</textarea></div>
									</div>
									<div class="form-row">
										<div class="form-row-title">Рекоммендации</div>
										<div class="form-row-input"><textarea placeholder="Рекоммендации" hint="Рекоммендации" style="height: 120px;">Приходит без опозданий, качественно выполняет порученную работу.</textarea></div>
									</div>
								</div> <!-- .section-content -->
							</div> <!-- .section -->
	
							
							<div class="section" id="files">
								<!-- Section's Header -->
								<div class="section-header" onclick="$(this).parents('.section').toggleClass('collapsed')">
									<span class="expanded-collapsed">5. Документы</span>
									<div class="btn" onclick="openPopup('photo-upload'); event.stopPropagation ? event.stopPropagation() : (event.cancelBubble=true)">Добавить</div>
								</div>
								<!-- Section's Content -->
								<div class="section-content tree">
									<div class="leaf level-1 expanded">
										<b>25 июня 2013</b>
										<div class="last leaf level-2">
											<a href="">Договор 12345.doc / 117 Кб</a><span class="float-right">10:56</span>
										</div>
										<div class="last leaf level-2">
											<a href="">Договор 12345 - вторая редакция.doc / 210 Кб</a><span class="float-right">13:42</span>
										</div>
										<div class="last leaf level-2">
											<a href="">Файл с очень длинным названием для демонстрации поведения приложения в случае большой длинны файла.doc / 11 Кб</a><span class="float-right">17:13</span>
										</div>			
									</div>
									<div class="leaf level-1 expanded">
										<b>27 июня 2013</b>
										<div class="last leaf level-2">
											<a href="">Комментарии по условиям отгрузки товаров для компании Оника Стандарт.doc / 150 Кб</a><span class="float-right">17:13</span>
										</div>			
									</div>
								</div> <!-- .section-content -->
							</div> <!-- .section -->
							
							<!-- Комментарии -->
							<div class="section" id="comments">
								<!-- Section's Header -->
								<div class="section-header" onclick="$(this).parents('.section').toggleClass('collapsed')">
									<span class="expanded-collapsed">6. Комментарии</span>
								</div>
								<!-- Section's Content -->
								<div class="section-content comments">
									<div class="comment">
										<div class="avatar">
											<img src="../../../../global/img/beckhem.jpg" alt="Александр" />
										</div>
										<div class="comment-header">
											<div class="comment-author">Александр Степанов</div>
											<div class="comment-date">Вчера в 18:30</div>
										</div>
										<div class="comment-content">
											<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
											</p>
										</div>
										<div class="comment-file">
											<a href="" target="_blank">Договор 12345.doc</a>
										</div>
									</div>
									<div class="comment">
										<div class="avatar">
											<img src="../../../../global/img/default_avatar.png" alt="Иван" />
										</div>
										<div class="comment-header">
											<div class="comment-author">Иван Каребо</div>
											<div class="comment-date">20 июля 2013, в 11:27</div>
										</div>
										<div class="comment-content">
											<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
											</p>
										</div>
										<div class="comment-file">
											<a href="" target="_blank">Комментарии по условиям отгрузки товаров.doc</a>
										</div>
									</div>
									<div class="comment">
										<div class="avatar">
											<img src="../../../../global/img/default_avatar.png" alt="Александр" />
										</div>
										<div class="comment-header">
											<div class="comment-author">Александр Степанов</div>
											<div class="comment-date">Сегодня в 12:00</div>
										</div>
										<div class="comment-content">
											<textarea placeholder="Оставить комментарий"></textarea>
											<div class="btn highlighted">Опубликовать</div>
											<label for="attach1" class="btn attachment">Прикрепить файл</label>
											<input id="attach1" type="file" class="attach" onchange="$(this).prev('.btn.attachment').html($(this).val()).attr('title', $(this).val());" />
										</div>
									</div>
								</div> <!-- .section-content -->
							</div> <!-- .section -->
							
						</div> <!-- banner-content -->
					</div> <!-- banner -->
				</div> <!-- banner-outer -->
				
			</div>  <!-- Строка -->
			
	</div> <!-- Левая колонка -->

	<!-- Правая колонка -->
	<div class="homepage-right-column">
		
		<!-- Строка -->
		<div class="page-row">
			<div class="banner-outer">
				<div class="banner">
					<div class="banner-header">Организатор</div>
					<div class="banner-content">
						<div class="banner-row">
							ОАО "Компания "Сухой"
						</div>
						<div class="banner-row">
							+7 (499) 550-01-06
						</div>
						<div class="banner-row">
							<a href="mailto:info@sukhoi.org">info@sukhoi.org</a>
						</div>
						<div class="banner-row">
							125284, Россия, Москва<br/>
							ул. Поликарпова, д. 23Б, а/я 604 
						</div>
						<div class="banner-row">
							<div class="btn">Заказать звонок</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- Строка -->
	
	</div> <!-- Правая колонка -->
	
</div> <!-- .content-holder -->

<div class="content-footer">
	<div class="btn highlighted">Сохранить</div>
	<div class="btn">Отмена</div>
</div>