<!-- Строка -->
<div class="page-row">
	
	<div class="banner-outer">
		<div class="banner">
			<div class="banner-header"><div class="banner-icon icon-globe"></div> Офис Novacom на карте</div>
			<div class="banner-content">
				<div id="map" class="map"></div>
			</div>
		</div>
	</div>
	
</div>  <!-- Строка -->

<!-- Строка -->
<div class="page-row">
	<div class="banner-outer percent33">
		<div class="banner special">
			<div class="banner-header">Отдел продаж</div>
			<div class="banner-content">
				<div class="banner-row">
					+375 (17) 328 329 4
				</div>
				<div class="banner-row">
					<a href="mailto:sales@novacom.by">sales@novacom.by</a>
				</div>
				<div class="banner-row">
					<div class="btn">Заказать звонок</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="banner-outer percent34">
		<div class="banner special">
			<div class="banner-header">Служба поддержки</div>
			<div class="banner-content">
				<div class="banner-row">
					+375 (17) 328 329 4
				</div>
				<div class="banner-row">
					<a href="mailto:support@novacom.by">support@novacom.by</a>
				</div>
				<div class="banner-row">
					<div class="btn">Сообщить о проблеме</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="banner-outer percent33">
		<div class="banner special">
			<div class="banner-header">Отдел маркетинга</div>
			<div class="banner-content">
				<div class="banner-row">
					+375 (17) 328 329 4
				</div>
				<div class="banner-row">
					<a href="mailto:marketing@novacom.by">marketing@novacom.by</a>
				</div>
			</div>
		</div>
	</div>
</div> <!-- Строка -->