<!-- Строка -->
<div class="page-row">
	<div class="error-holder">
		<div class="error-content">
			<img src="../../global/img/error-bubble.png" alt="error-bubble" width="149" />
			<div class="error-title">Извините, форма на заполнение отсутствует.</div>
			<div class="btn highlighted" onclick="showContent('/page/contacts.php')">Вернуться назад</div>
		</div>
	</div>
</div>

<!-- Строка -->
<!--
<div class="page-row">
	
	<div class="banner-outer">
		<div class="banner">
			<div class="banner-content">
				<div class="sitemap">
					<ul>
						<header><a onclick="showContent('/page/home.php');">Главная</a></header>
						<li><a onclick="showContent('/page/home-buyer.php');">Для покупателей</a></li>
						<li><a onclick="showContent('/page/home-seller.php');">Для продавцов</a></li>
					</ul>
					<ul>
						<header><a onclick="showContent('/page/price.php');">Тарифы</a></header>
						<li><a onclick="showContent('/page/price-pack1.php');">Стартовый</a></li>
						<li><a onclick="showContent('/page/price-pack2.php');">Любитель</a></li>
						<li><a onclick="showContent('/page/price-pack3.php');">Профессионал</a></li>
					</ul>
					<ul>
						<header><a onclick="showContent('/page/auction-catalog.php');">Тогри</a></header>
						<li><a onclick="showContent('/page/auction-catalog.php');">Активные торги</a></li>
						<li><a onclick="showContent('/page/auction-archive.php');">Архив торгов</a></li>
					</ul>
					<ul>
						<header><a onclick="showContent('/page/help.php');">Справка</a></header>
						<li><a onclick="showContent('/page/help-features.php');">Возможности</a></li>
						<li><a onclick="showContent('/page/help-guide.php');">Обучающий тур</a></li>
						<li><a onclick="showContent('/page/help-support.php');">Поддержка</a></li>
					</ul>
					<ul>
						<header><a onclick="showContent('/page/home.php');">Контакты</a></header>
						<li>+375 (17) 328 329 4</li>
						<li><a href="mailto:info@novacom.by">info@novacom.by</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</div>
-->  <!-- Строка -->