<!-- Левая колонка -->
<div class="homepage-left-column">

	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer">
			<div class="banner">
				
				<div class="banner-content">
					<h1 id="onika">Поддержка</h1>
					<p>
						Мы старались сделать интерфейс понятным и удобным.
					</p>
					<h2 id="o-nas">Простой в использовании</h2>
					<p>
						Ассистент никогда не устаёт и ведёт учёт 24 часа в сутки! С помощью простых и понятных форм добавляйте информацию о доходах и расходах, а все необходимые книги учёта сформируются автоматически и строго в соответствии с законодательством.
					</p>
					<h2 id="rost">Быстрый</h2>
					<p>
						Ассистент позволяет создавать, хранить и совместно работать со всеми необходимыми для бизнеса первичными документами. Работа со счетами, актами и накладными ещё никогда не была такой быстрой и удобной.
					</p>
					<h2 id="plus">Красивый</h2>
					<p>
						Сервис вовремя напомнит о том, что необходимо сделать в ближайшее время: куда и какие отчёты сдать, сколько и когда уплатить налогов или взносов — и всё это на основе введённых ранее данных. Таким образом, вы cможете спокойно заниматься своей деятельностью, а всю отчётность система составит сама!
					</p>
				</div>
				
			</div>
		</div>
	</div> 	<!-- Строка -->

	
</div> <!-- Левая колонка -->

<!-- Правая колонка -->
<div class="homepage-right-column">

	<!-- Строка -->
	<div class="page-row">
		
		<div class="banner-outer">
			<div class="banner">			
				<div class="banner-header"><div class="banner-icon icon-map-marker"></div> Отдел поддержки</div>
				<div class="banner-content">
					<div class="banner-row">
						+375 (17) 328 329 4
					</div>
					<div class="banner-row">
						<a href="mailto:info@novacom.by">info@novacom.by</a>
					</div>
					<div class="banner-row">
						<div class="btn">Сообщить о проблеме</div>
					</div>
				</div>
			</div>
		</div>
		
	</div><!-- Строка -->
	
</div> <!-- Правая колонка -->