<!-- Левая колонка -->
<div class="homepage-left-column">
	<div class="banner-outer">
		<div class="banner main rotator">
			<div class="banner-slide rotator-item" onclick="showContent('/help-features')">
				<h1>Возможности</h1>
				<p></p>
			</div>
			<div class="banner-slide rotator-item" onclick="showContent('/help-tour')">
				<h1>Обучающий тур</h1>
				<p></p>
			</div>
			<div class="banner-slide rotator-item" onclick="showContent('/help-support')">
				<h1>Поддержка</h1>
				<p></p>
			</div>
		</div>
	</div>
	
	<div class="banner-outer half-width">
		<div class="banner special">
			<div class="banner-content">
				<img class="banner-image" src="../../../../global/img/how-to-sell.png" alt="how-to-sell" width="280" height="280" />
				<div class="banner-col">
					<h2>Продавцам</h2>
					<ol>
						<li><a href="/">Как стать продавцом</a></li>
						<li><a href="/">Обучение</a></li>
						<li><a href="/">Поддержка</a></li>
					</0l>
				</div>
			</div>
		</div>
	</div>
	<div class="banner-outer half-width">
		<div class="banner special">
			
			<div class="banner-content">
				<img class="banner-image" src="../../../../global/img/how-to-buy.png" alt="how-to-sell" width="280" height="280" />
				<div class="banner-col">
					<h2>Покупателям</h2>
					<ol>
						<li><a href="/">Как стать покупателем</a></li>
						<li><a href="/">Обучение</a></li>
						<li><a href="/">Поддержка</a></li>
					</ol>
			</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<!-- Правая колонка -->
<div class="homepage-right-column">
	<div class="banner-outer">
		<div class="banner">
			<div class="banner-content">
				<div class="banner-row">
					<div class="banner-col clock">
						16:03
					</div>
					<div class="banner-col date">
						Вторник<br/>
						14 Января 2015
					</div>
				</div>
			</div>
			<div class="banner-header"><div class="banner-icon icon-bar-chart"></div> Курсы валют</div>
			<div class="banner-content">
				<div class="banner-row">
					<div class="banner-col currency-title">USD</div>
					<div class="banner-col currency-value">14 340</div>
					<div class="banner-col currency-value">14 596</div>
				</div>
				<div class="banner-row">
					<div class="banner-col currency-title">EUR</div>
					<div class="banner-col currency-value">16 900</div>
					<div class="banner-col currency-value">17 300</div>
				</div>
				<div class="banner-row">
					<div class="banner-col currency-title">RUB</div>
					<div class="banner-col currency-value">230</div>
					<div class="banner-col currency-value">240</div>
				</div>
				<div class="banner-row">
					<div class="banner-col currency-title">GBP</div>
					<div class="banner-col currency-value">21 616</div>
					<div class="banner-col currency-value">22 757</div>
				</div>
				<div class="banner-row">
					<div class="banner-col currency-title">EUR / USD</div>
					<div class="banner-col currency-value">1.17</div>
					<div class="banner-col currency-value">1.2</div>
				</div>
			</div>
			<div class="banner-header"><div class="banner-icon icon-dashboard"></div> Статистика площадки</div>
			<div class="banner-content">
				<div class="banner-row">
					<a href="/">598 активных торгов</a>
				</div>
				<div class="banner-row">
					<a href="/">72 456 поставщиков</a>
				</div>
				<div class="banner-row">
					<a href="/">59 039 заказчиков</a>
				</div>
				<div class="banner-row">
					6% Среднее падение цены
				</div>
			</div>
		</div>
	</div>
	
	<div class="banner-outer">
		<div class="banner">
			<div class="banner-header"><div class="banner-icon icon-map-marker"></div> Контакты</div>
			<div class="banner-content">
				<div class="banner-row">
					+375 (17) 328 329 4
				</div>
				<div class="banner-row">
					info@novacom.by
				</div>
				<div class="banner-row">
					г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, индекс 220028
				</div>
				<div class="banner-row">
					<div class="btn">Заказать звонок</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clear"></div>