		<!-- Content's Header -->
		<div class="header">
			<span class="content-title">Обучающий тур</span>
			<div class="btn expand-all" title="Развернуть все" onclick="$('.content-holder .section').removeClass('collapsed');">&nbsp;</div>
			<div class="btn collapse-all" title="Свернуть все" onclick="$('.content-holder .section').addClass('collapsed');">&nbsp;</div>
		</div>
		
		<!-- Content -->
		<div class="content-holder">
			<div class="section">
				<!-- Section's Header -->
				<div class="section-header" id="comments">
					<span class="expanded-collapsed" onclick="$(this).parents('.section').toggleClass('collapsed')">Общая информация о компании</span>
				</div>
				<!-- Section's Content -->
				<div class="section-content text">
					<h1 id="onika">Оника Стандарт</h1>
					<h2 id="o-nas">О нас</h2>
					<p>"ОникаСтандарт" - производитель и первый поставщик трубопроводной арматуры в Республику Беларусь. Компания основана в 2007 году и в настоящее время является одной из крупнейших на отечественном рынке соединительных деталей трубопровода.</p>
					<p>Наш товарный ассортимент насчитывает более 2,5 тыс. номенклатурных позиций. Вся продукция обладает высокими техническими и потребительскими характеристиками, подтвержденными сертификатами соответствия. Прямые поставки из Италии, Словакии, Польши, Китая и стран СНГ дают возможность нашим клиентам приобретать качественную продукцию по доступной цене.</p>
					<h2 id="rost">Рост клиентской базы</h2>
					<p>
						<table cellspacing="0">
							<tr>
								<th>Год</th>
								<th>Новые клиенты</th>
								<th>Повторное обращение</th>
								<th>Постоянные клиенты</th>
							</tr>
							<tr class="odd">
								<td class="align-center">2012</td>
								<td class="align-center">87</td>
								<td class="align-center">36</td>
								<td class="align-center">16</td>						
							</tr>
							<tr class="even">
								<td class="align-center">2011</td>
								<td class="align-center">67</td>
								<td class="align-center">15</td>
								<td class="align-center">10</td>
							</tr>
							<tr class="odd">
								<td class="align-center">2010</td>
								<td class="align-center">17</td>
								<td class="align-center">6</td>
								<td class="align-center">3</td>
							</tr>
							<tr class="even">
								<td class="align-center">2009</td>
								<td class="align-center">12</td>
								<td class="align-center">1</td>
								<td class="align-center">0</td>
							</tr>
						</table>
						<div class="img-title">Рост клиентской базы с 2009 по 2012 годы</div>
					</p>
					<p>Высокая квалификация специалистов компании позволяет профессионально и конструктивно находить оптимальные решения при работе с каждым клиентом. Наша миссия - сделать процесс покупки качественной трубопроводной арматуры простым и удобным. Наша цель - наиболее полное удовлетворение потребностей клиентов в предлагаемых нами товарах и услугах. Наш девиз - Мы создаем стандарты!</p>
					<h2 id="plus">Наши преимущества</h2>
					<p>
						<ul>
							<li>постоянное наличие широкого ассортимента продукции на складе</li>
							<li>внутренний контроль качества реализуемой продукции</li>
							<li>индивидуальный подход к каждому клиенту
								<ul>
									<li>возможность оплаты товара по факту, предоставление товарного кредита</li>
									<li>скидки постоянным и оптовым клиентам</li>
								</ul>
							</li>
							<li>бесплатная доставка как по Минску, так и в регионы</li>
						</ul>
					</p>
					<h2 id="offices">Офисы</h2>
					<h3 id="minsk">Минск</h3>
					<div class="img-holder">
						<img src="../../../../global/img/map.png" alt="map" width="400" height="346" />
						<div class="img-title">Карта проезда к офису в Минске</div>
					</div>
					<p><b>Адрес:</b> 220006, г. Минск, ул. Семёнова, 1а</p>
					<p><b>Официальный сайт:</b> <a href="http://onika.by" rel="nofollow">onika.by</a>.</p>
					<p>Высокая квалификация специалистов компании позволяет профессионально и конструктивно находить оптимальные решения при работе с каждым клиентом. Наша миссия - сделать процесс покупки качественной трубопроводной арматуры простым и удобным. Наша цель - наиболее полное удовлетворение потребностей клиентов в предлагаемых нами товарах и услугах. Наш девиз - Мы создаем стандарты!</p>
				</div>
				<!-- Section's Footer -->
<!--
				<div class="section-footer">
					
				</div>
-->
			</div>
			
			<div class="section">
				<!-- Section's Header -->
				<div class="section-header" id="comments">
					<span class="expanded-collapsed" onclick="$(this).parents('.section').toggleClass('collapsed')">Комментарии</span>
				</div>
				<!-- Section's Content -->
				<div class="section-content comments">
					<div class="comment">
						<div class="avatar">
							<img src="../../../../global/img/beckhem.jpg" alt="Александр" />
						</div>
						<div class="comment-header">
							<div class="comment-author">Александр Степанов</div>
							<div class="comment-date">Вчера в 18:30</div>
						</div>
						<div class="comment-content">
							<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							</p>
						</div>
						<!--
<div class="comment-file">
							<a href="" target="_blank">Договор12345.doc</a>
						</div>
-->
					</div>
					<div class="comment">
						<div class="avatar">
							<img src="../../../../global/img/default_avatar.png" alt="Иван" />
						</div>
						<div class="comment-header">
							<div class="comment-author">Иван Каребо</div>
							<div class="comment-date">20 июля 2013, в 11:27</div>
						</div>
						<div class="comment-content">
							<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
						<div class="comment-file">
							<a href="" target="_blank">Комментарии по условиям отгрузки товаров.doc</a>
						</div>
					</div>
					<div class="comment">
						<div class="avatar">
							<img src="../../../../global/img/default_avatar.png" alt="Иван" />
						</div>
						<div class="comment-header">
							<div class="comment-author">Александр Степанов</div>
							<div class="comment-date">Сегодня в 12:00</div>
						</div>
						<div class="comment-content">
							<textarea placeholder="Оставить комментарий"></textarea>
							<div class="btn highlighted">Опубликовать</div>
							<div class="btn attachment" onclick="$(this).next('input.attach').click();">Прикрепить файл</div>
							<input type="file" class="attach" onchange="$(this).prev('.btn.attachment').html($(this).val()).attr('title', $(this).val());" />
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Content's Footer -->
		<div class="content-footer">
			<div class="btn float-right">Редактировать</div>
			<div class="footer-criteria">Страница была изменена пользователем <a href="">Иван Каребо</a> 20 мая 2013.</div>
		</div>