<!-- Левая колонка -->
<div class="homepage-left-column">
	
	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer">
			<div class="banner main rotator">
				<div class="banner-slide rotator-item" onclick="showContent('/home')">
					<h1>Электронная торговая площадка Новаком</h1>
					<p>Крупнейший оператор электронных торгов для государственных заказчиков и коммерческих предприятий</p>
				</div>
				<div class="banner-slide rotator-item">
					<h1>Гибкий пробный период</h1>
					<p>Мы не стали ограничивать пробный период по времени. Вам доступны все возможности и вы можете совершить пробную сделку.</p>
				</div>
				<div class="banner-slide rotator-item">
					<h1>Дружелюбный интерфейс</h1>
					<p>Мы думаем о вас и будем рады услышать ваши пожелания.</p>
				</div>
				<div class="banner-slide rotator-item">
					<h1>Быстрый поиск и гибкая фильтрация</h1>
					<p>Мощный индексированный поиск и гибкие настройки таблиц помогут вам искать подходящие предложения быстро</p>
				</div>
			</div>
		</div>
	</div> 	<!-- Строка -->
	
	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer half-width">
			<div class="banner special">
				<div class="banner-content">
					<img class="banner-image" src="../../../../global/img/how-to-sell.png" alt="how-to-sell" width="280" height="280" />
					<div class="banner-col">
						<h2>Продавцам</h2>
						<ol>
							<li><a onclick="showContent('/home-seller')">Как стать продавцом</a></li>
							<li><a onclick="showContent('/help-guide')">Обучение</a></li>
							<li><a onclick="showContent('/help-support')">Поддержка</a></li>
						</0l>
					</div>
				</div>
			</div>
		</div>
		
		<div class="banner-outer half-width">
			<div class="banner special">
				
				<div class="banner-content">
					<img class="banner-image" src="../../../../global/img/how-to-buy.png" alt="how-to-sell" width="280" height="280" />
					<div class="banner-col">
						<h2>Покупателям</h2>
						<ol>
							<li><a onclick="showContent('/home-buyer')">Как стать покупателем</a></li>
							<li><a onclick="showContent('/help-guide')">Обучение</a></li>
							<li><a onclick="showContent('/help-support')">Поддержка</a></li>
						</ol>
				</div>
				</div>
			</div>
		</div>
	</div> 	<!-- Строка -->
	
	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer half-width">
			<div class="banner">
				<div class="banner-content">
					<h2>Вид собственности</h2>
					<ul class="list distinct">
						<li><a onclick="showContent('/auction-catalog')">Госудрарственная <b class="float-right">4093</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Частная <b class="float-right">35894</b></a></li>
					</ul>
				</div>
				<div class="banner-content">
					<h2>Типы лотов</h2>
					<ul class="list distinct">
						<li><a onclick="showContent('/auction-catalog')">Движимое имущество <b class="float-right">3035</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Недвижимое имущество <b class="float-right">27042</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Право аренды недвижимого имущества <b class="float-right">435</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Земельные участки <b class="float-right">1701</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Право аренды земельных участков <b class="float-right">117</b></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="banner-outer half-width">
			<div class="banner">
				<div class="banner-content">
					<h2>Торги по отраслям</h2>
					<ul class="list distinct">	
						<li><a onclick="showContent('/auction-catalog')">Неклассифицированные <b class="float-right">2802</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Военная промышленность, самооборона <b class="float-right">27</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Здоровье, медицина, фармацевтика <b class="float-right">7336</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Информационные технологии и телекоммуникации <b class="float-right">1420</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Наука, образование, культура и искусство <b class="float-right">270</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Недвижимость, строительство, ремонт <b class="float-right">4226</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Офис и быт <b class="float-right">1362</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Продукты питания, организация питания <b class="float-right">687</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Промышленное, производственное и торговое оборудование <b class="float-right">565</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Реклама и полиграфия <b class="float-right">298</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Сельское хозяйство, животноводство <b class="float-right">55</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Транспорт, топливо, логистика <b class="float-right">1281</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Финансы, управление, право <b class="float-right">83</b></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>	<!-- Строка -->
	
	<!-- Строка -->
	<!--
<div class="page-row">
		<div class="banner-outer half-width">
			<div class="banner ">
				<div class="auction">
					<div class="auction-author-image">
						<img src="../../../../global/img/logo-moesk.jpg" alt="logo-moesk" />
					</div>
					<a href="" class="auction-author-name">ОАО "МОЭСК"</a>
					<div class="tag-list" onclick="$(this).parents('.auction').toggleClass('active');">
						<span class="tag purchase">Закупка</span>
						<span class="float-right tag favourite icon-star-empty"></span>
					</div>
					<div class="title" onclick="$(this).parents('.auction').toggleClass('active');">Выполнение работ по уборке помещений и содержанию фасадов</div>
					<div class="status" onclick="$(this).parents('.auction').toggleClass('active');">40 дней до подведения итогов</div>
					<div class="description" onclick="$(this).parents('.auction').toggleClass('active');">Выполнение работ по уборке помещений и содержанию фасадов Административных зданий по адресу: Каширское ш.,д.18; Старокаширское ш. д.4/10; здание лаборатории; Н.Красносельская ул. д. 6. и ПС ОВЭС ЗАО, ЮЗАО, СЗАО, ЦАО, ЮАО, ЮВАО, СВАО, ВАО, САО, Зеленоградский АО для нужд ЦЭС - филиала ОАО «МОЭСК»</div>
				</div>
			</div>
		</div>
		<div class="banner-outer half-width">
			<div class="banner ">
				<div class="auction">
					<div class="auction-author-image">
						<img src="../../../../global/img/logo-moesk.jpg" alt="logo-moesk" />
					</div>
					<a href="" class="auction-author-name">ОАО "МОЭСК"</a>
					<div class="tag-list" onclick="$(this).parents('.auction').toggleClass('active');">
						<span class="tag tag-auction">Аукцион</span>
						<span class="float-right tag favourite icon-star"></span>
					</div>
		
					<div class="title" onclick="$(this).parents('.auction').toggleClass('active');">Неликвид Кабеля</div>
					<div class="status" onclick="$(this).parents('.auction').toggleClass('active');">31 день до окончания приёма заявок</div>
		
					<div class="auction-gallery" onclick="$(this).parents('.auction').toggleClass('active');">
						<img class="img" src="/global/img/cable.jpg" alt="Неликвид кабеля" />
						<img class="img" src="/global/img/cable2.jpg" alt="Неликвид кабеля" />
						<img class="img" src="/global/img/cable.jpg" alt="Неликвид кабеля" />
						<img class="img" src="/global/img/cable2.jpg" alt="Неликвид кабеля" />
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
--> 	<!-- Строка -->
	
</div> <!-- Левая колонка -->

<!-- Правая колонка -->
<div class="homepage-right-column">
	
	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer">
			<div class="banner">
				<div class="banner-content">
					<div class="banner-row">
						<div class="banner-col clock">
							16:03
						</div>
						<div class="banner-col date">
							Вторник<br/>
							14 Января 2015
						</div>
					</div>
					<div class="datepicker"></div>
				</div>
				<div class="banner-header"><div class="banner-icon icon-bar-chart"></div> Курсы валют</div>
				<div class="banner-content">
					<div class="banner-row">
						<div class="banner-col currency-title">USD</div>
						<div class="banner-col currency-value">14 340</div>
						<div class="banner-col currency-value">14 596</div>
					</div>
					<div class="banner-row">
						<div class="banner-col currency-title">EUR</div>
						<div class="banner-col currency-value">16 900</div>
						<div class="banner-col currency-value">17 300</div>
					</div>
					<div class="banner-row">
						<div class="banner-col currency-title">RUB</div>
						<div class="banner-col currency-value">230</div>
						<div class="banner-col currency-value">240</div>
					</div>
					<div class="banner-row">
						<div class="banner-col currency-title">GBP</div>
						<div class="banner-col currency-value">21 616</div>
						<div class="banner-col currency-value">22 757</div>
					</div>
					<div class="banner-row">
						<div class="banner-col currency-title">EUR / USD</div>
						<div class="banner-col currency-value">1.17</div>
						<div class="banner-col currency-value">1.2</div>
					</div>
				</div>
				<div class="banner-header"><div class="banner-icon icon-dashboard"></div> Статистика</div>
				<div class="banner-content">
					<div class="banner-row">
						<a href="/">598 активных торгов</a>
					</div>
					<div class="banner-row">
						<a href="/">72 456 поставщиков</a>
					</div>
					<div class="banner-row">
						<a href="/">59 039 заказчиков</a>
					</div>
					<div class="banner-row">
						6% Среднее падение цены
					</div>
				</div>

				<div class="banner-header"><div class="banner-icon icon-file-text-alt"></div> Новости</div>
				<div class="banner-content">
					<div class="banner-timestamp">28.11.14 16:03</div>
					<a href="/">В минском ЖКХ ожидают выполнения прогнозных показателей по капремонту в текущем году</a>
				</div>

				<div class="banner-header"><div class="banner-icon icon-lightbulb"></div> Обучение</div>
				<div class="banner-content">
					<ul>
						<li><a href="/">Инструкция_ЭТП_Организатор.docx</a></li>
						<li><a href="/">Инструкция_ЭТП_Администратор.docx</a></li>
						<li><a href="/">Инструкция_ЭТП_Участник.docx</a></li>
						<li><a href="/">Инструкция_ЭТП_Оператор.docx</a></li>
					</ul>
				</div>

				<div class="banner-header"><div class="banner-icon icon-map-marker"></div> Контакты</div>
				<div class="banner-content">
					<div class="banner-row">
						+375 (17) 328 329 4
					</div>
					<div class="banner-row">
						info@novacom.by
					</div>
					<div class="banner-row">
						г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, индекс 220028
					</div>
					<div class="banner-row">
						<div class="btn">Заказать звонок</div>
					</div>
				</div>
			</div>
		</div>
	</div>  <!-- Строка -->
		
</div> <!-- Правая колонка -->

<!-- Строка -->
<div class="page-row">
	
	<div class="banner-outer">
		<div class="banner">
			<div class="banner-content">
				<div class="sitemap">
					<ul>
						<header><a onclick="showContent('/page/home.php');">Главная</a></header>
						<li><a onclick="showContent('/page/home-buyer.php');">Для покупателей</a></li>
						<li><a onclick="showContent('/page/home-seller.php');">Для продавцов</a></li>
					</ul>
					<ul>
						<header><a onclick="showContent('/page/price.php');">Тарифы</a></header>
						<li><a onclick="showContent('/page/price-pack1.php');">Стартовый</a></li>
						<li><a onclick="showContent('/page/price-pack2.php');">Любитель</a></li>
						<li><a onclick="showContent('/page/price-pack3.php');">Профессионал</a></li>
					</ul>
					<ul>
						<header><a onclick="showContent('/page/auction-catalog.php');">Тогри</a></header>
						<li><a onclick="showContent('/page/auction-catalog.php');">Активные торги</a></li>
						<li><a onclick="showContent('/page/auction-archive.php');">Архив торгов</a></li>
					</ul>
					<ul>
						<header><a onclick="showContent('/page/help.php');">Справка</a></header>
						<li><a onclick="showContent('/page/help-features.php');">Возможности</a></li>
						<li><a onclick="showContent('/page/help-guide.php');">Обучающий тур</a></li>
						<li><a onclick="showContent('/page/help-support.php');">Поддержка</a></li>
					</ul>
					<ul>
						<header><a onclick="showContent('/page/home.php');">Контакты</a></header>
						<li>+375 (17) 328 329 4</li>
						<li><a href="mailto:info@novacom.by">info@novacom.by</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</div>  <!-- Строка -->