<!-- Левая колонка -->
<div class="homepage-left-column">
	
	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer">
			<div class="banner main rotator">
				<div class="banner-slide rotator-item" onclick="showContent('/help-features')">
					<h1>Как стать покупателем</h1>
					<p></p>
				</div>
				<div class="banner-slide rotator-item" onclick="showContent('/help-tour')">
					<h1>Обучающий тур</h1>
					<p></p>
				</div>
				<div class="banner-slide rotator-item" onclick="showContent('/help-support')">
					<h1>Поддержка</h1>
					<p></p>
				</div>
			</div>
		</div>
	</div> <!-- Строка -->
	
	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer percent33">
			<div class="banner">
				<div class="banner-header">Зарегистрироваться</div>
				<div class="banner-content">
					Проще простого
				</div>
			</div>
		</div>
		<div class="banner-outer percent34">
			<div class="banner">
				<div class="banner-header">Найти лот</div>
				<div class="banner-content">
					Быстро и легко
				</div>
			</div>
		</div>
		<div class="banner-outer percent33">
			<div class="banner">
				<div class="banner-header">Заключить договор</div>
				<div class="banner-content">
					Безопасно
				</div>
			</div>
		</div>
	</div> <!-- Строка -->
	
	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer percent40">
			<div class="banner">
				<div class="banner-content">
					<h2>Вид собственности</h2>
					<ul class="list distinct">
						<li><a onclick="showContent('/auction-catalog')">Госудрарственная <b class="float-right">4093</b></a></li>
						<li><a onclick="showContent('/auction-catalog')">Частная <b class="float-right">35894</b></a></li>
					</ul>
				</div>
				<div class="banner-content">
					<h2>Типы лотов</h2>
					<ul class="list distinct">
						<li><a href="/">Движимое имущество <b class="float-right">3035</b></a></li>
						<li><a href="/">Недвижимое имущество <b class="float-right">27042</b></a></li>
						<li><a href="/">Право аренды недвижимого имущества <b class="float-right">435</b></a></li>
						<li><a href="/">Земельные участки <b class="float-right">1701</b></a></li>
						<li><a href="/">Право аренды земельных участков <b class="float-right">117</b></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="banner-outer percent60">
			<div class="banner">
				<div class="banner-content">
					<h2>Торги по отраслям</h2>
					<ul class="list distinct">	
						<li><a href="/">Неклассифицированные <b class="float-right">2802</b></a></li>
						<li><a href="/">Военная промышленность, самооборона <b class="float-right">27</b></a></li>
						<li><a href="/">Здоровье, медицина, фармацевтика <b class="float-right">7336</b></a></li>
						<li><a href="/">Информационные технологии и телекоммуникации <b class="float-right">1420</b></a></li>
						<li><a href="/">Наука, образование, культура и искусство <b class="float-right">270</b></a></li>
						<li><a href="/">Недвижимость, строительство, ремонт <b class="float-right">4226</b></a></li>
						<li><a href="/">Офис и быт <b class="float-right">1362</b></a></li>
						<li><a href="/">Продукты питания, организация питания <b class="float-right">687</b></a></li>
						<li><a href="/">Промышленное, производственное и торговое оборудование <b class="float-right">565</b></a></li>
						<li><a href="/">Реклама и полиграфия <b class="float-right">298</b></a></li>
						<li><a href="/">Сельское хозяйство, животноводство <b class="float-right">55</b></a></li>
						<li><a href="/">Транспорт, топливо, логистика <b class="float-right">1281</b></a></li>
						<li><a href="/">Финансы, управление, право <b class="float-right">83</b></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div> <!-- Строка -->

</div> <!-- Левая колонка -->

<!-- Правая колонка -->
<div class="homepage-right-column">

	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer">
			<div class="banner">
				<div class="banner-content">
					<div class="banner-row">
						<div class="banner-col clock">
							16:03
						</div>
						<div class="banner-col date">
							Вторник<br/>
							14 Января 2015
						</div>
					</div>
				</div>
				<div class="banner-header"><div class="banner-icon icon-bar-chart"></div> Курсы валют</div>
				<div class="banner-content">
					<div class="banner-row">
						<div class="banner-col currency-title">USD</div>
						<div class="banner-col currency-value">14 340</div>
						<div class="banner-col currency-value">14 596</div>
					</div>
					<div class="banner-row">
						<div class="banner-col currency-title">EUR</div>
						<div class="banner-col currency-value">16 900</div>
						<div class="banner-col currency-value">17 300</div>
					</div>
					<div class="banner-row">
						<div class="banner-col currency-title">RUB</div>
						<div class="banner-col currency-value">230</div>
						<div class="banner-col currency-value">240</div>
					</div>
					<div class="banner-row">
						<div class="banner-col currency-title">GBP</div>
						<div class="banner-col currency-value">21 616</div>
						<div class="banner-col currency-value">22 757</div>
					</div>
					<div class="banner-row">
						<div class="banner-col currency-title">EUR / USD</div>
						<div class="banner-col currency-value">1.17</div>
						<div class="banner-col currency-value">1.2</div>
					</div>
				</div>
				<div class="banner-header"><div class="banner-icon icon-dashboard"></div> Статистика площадки</div>
				<div class="banner-content">
					<div class="banner-row">
						<a href="/">598 активных торгов</a>
					</div>
					<div class="banner-row">
						<a href="/">72 456 поставщиков</a>
					</div>
					<div class="banner-row">
						<a href="/">59 039 заказчиков</a>
					</div>
					<div class="banner-row">
						6% Среднее падение цены
					</div>
				</div>
			</div>
		</div>
	</div> <!-- Строка -->
	
	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer">
			<div class="banner">
				<div class="banner-header"><div class="banner-icon icon-map-marker"></div> Контакты</div>
				<div class="banner-content">
					<div class="banner-row">
						+375 (17) 328 329 4
					</div>
					<div class="banner-row">
						info@novacom.by
					</div>
					<div class="banner-row">
						г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, индекс 220028
					</div>
					<div class="banner-row">
						<div class="btn">Заказать звонок</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- Строка -->
	
</div> <!-- Правая колонка -->