<!-- Левая колонка -->
<div class="homepage-left-column">

	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer">
			<div class="banner">
				<div class="banner-header">
					<div class="banner-header-title">Дерево (jsTree)</div>
				</div>
				<div class="banner-content">
					<p>
						Пример дерева на основе jsTree.
						Что сделано:
						<ul>
							<li>Изменили цвета подсвеченных и выбранных элементов дерева</li>
							<li>Изменили фоновые картинки</li>
						</ul>
					</p>
					<p>
						<div class="form-row-input">
              <input type="text" id="jstreeGroup_q" value="" placeholder="Поиск пользователей в группе">
	          </div>
					</p>
					<p>
						<div id="jstreeGroup"></div>
					</p>
				</div>
				
			</div>
		</div>
	</div> 	<!-- Строка -->
	
</div> <!-- Левая колонка -->

<!-- Правая колонка -->
<div class="homepage-right-column">

	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer">
			<div class="banner">
				<div class="banner-header">
					<div class="banner-header-title">Описание</div>
				</div>
				<div class="banner-content">
					Пример дерева jsTree
				</div>
			</div>
		</div>
	</div> 	<!-- Строка -->
	
</div> <!-- Левая колонка -->

<script>
	
	$('#jstreeGroup').jstree({
		'plugins': ["json_data", "checkbox", "search"],
		'search': {'fuzzy': false},
		'core' : {
			'data' : [
				{ "text" : "Корень", "children" : [
					{ "text" : "Потомок 1" },
					{ "text" : "Потомок 2" }
				]}
			]
		}
	});
	
	var t;
	$('#jstreeGroup_q').keyup(function () {
    if (t) {
        clearTimeout(t);
    }
    t = setTimeout(function () {
        var v = $('#jstreeGroup_q').val();
        $('#jstreeGroup').jstree(true).search(v);
    }, 250);
});

</script>