<!-- Левая колонка -->
<div class="homepage-left-column">

	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer">
			<div class="banner main">
				<div class="banner-slide active">
					<h1>Профессионал</h1>
					<p>Если вы не хотите себя ограничивать и получить максимум - выбирайте полный пакет</p>
				</div>
			</div>
		</div>
	</div> <!-- Строка -->
		
	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer  half-width">
			<div class="banner" onclick="showContent('/templates/content/price-pack1')">
				<div class="banner-header">Стартовый</div>
				<div class="banner-content">
					<ul class="list">
						<li><a onclick="showContent('/templates/content/auction-catalog')">2 бесплатных объявления</a></li>
						<li><a onclick="showContent('/templates/content/auction-catalog')">2 сделки в месяц</a></li>
					</ul>
				</div>
			</div>
		</div>
	
		<div class="banner-outer  half-width">
			<div class="banner" onclick="showContent('/templates/content/price-pack2')">
				<div class="banner-header">Любитель</div>
				<div class="banner-content">
					<ul class="list">
						<li><a onclick="showContent('/templates/content/auction-catalog')">10 бесплатных объявлений</a></li>
						<li><a onclick="showContent('/templates/content/auction-catalog')">10 сделок в месяц</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div> <!-- Строка -->

</div> <!-- Левая колонка -->

<!-- Правая колонка -->
<div class="homepage-right-column">

	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer">
			<div class="banner">
				<div class="banner-header"><div class="banner-icon icon-map-marker"></div> Контакты</div>
				<div class="banner-content">
					<div class="banner-row">
						+375 (17) 328 329 4
					</div>
					<div class="banner-row">
						info@novacom.by
					</div>
					<div class="banner-row">
						г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, индекс 220028
					</div>
					<div class="banner-row">
						<div class="btn">Заказать звонок</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- Строка -->

</div> <!-- Правая колонка -->