<!-- Левая колонка -->
<div class="homepage-left-column">
	<div class="banner-outer">
		<div class="banner">
			<div class="banner-header">Сравнение тарифов</div>
			<div class="banner-content">
				<p>
					<table cellspacing="0">
						<tr>
							<th>Тариф</th>
							<th>Стартовый</th>
							<th>Любитель</th>
							<th>Профессионал</th>
						</tr>
						<tr class="odd">
							<td class="align-center">Количество включённых объявлений</td>
							<td class="align-center">2</td>
							<td class="align-center">10</td>
							<td class="align-center">Неограничено</td>						
						</tr>
						<tr class="even">
							<td class="align-center">Количество сделок в месяц</td>
							<td class="align-center">2</td>
							<td class="align-center">10</td>
							<td class="align-center">Неограничено</td>
						</tr>
						<tr class="odd">
							<td class="align-center">Поддержка</td>
							<td class="align-center">-</td>
							<td class="align-center">Ответ в течении 24 часов</td>
							<td class="align-center">Ответ в течении 16 часов</td>
						</tr>
						<tr class="even">
							<td class="align-center">Стоимость</td>
							<td class="align-center">Бесплатно</td>
							<td class="align-center">$20 в месяц</td>
							<td class="align-center">$50 в месяц</td>
						</tr>
						<tr class="odd">
							<td class="align-center"></td>
							<td class="align-center"><div class="btn">Бесплатно</div></td>
							<td class="align-center"><div class="btn">Купить</div></td>
							<td class="align-center"><div class="btn">Купить</div></td>
						</tr>
					</table>			
				</p>
				<p>В любое время вы сможете перейти на любой из доступных тарифов самостоятельно. <a onclick="showContent('/page/help-guide.php')">Как изменить тариф.</a></p>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="banner-outer percent33" onclick="showContent('/page/price-pack1.php')">
		<div class="banner">
			<div class="banner-header">Стартовый</div>
			<div class="banner-content">
				<p>Просто пройдите регистрацию и пользуйтесь всеми возможностями торговой площадки бесплатно</p>
				<div class="btn">Подробнее</div>
			</div>
		</div>
	</div>
	<div class="banner-outer percent34" onclick="showContent('/page/price-pack2.php')">
		<div class="banner">
			<div class="banner-header">Любитель</div>
			<div class="banner-content">
				<p>Если вы хотите регулярно добавлять объявления и совершать сделки, но ограничены бюджетом - этот план для вас</p>
				<div class="btn">Подробнее</div>
			</div>
		</div>
	</div>
	<div class="banner-outer percent33" onclick="showContent('/page/price-pack3.php')">
		<div class="banner">
			<div class="banner-header">Профессионал</div>
			<div class="banner-content">
				<p>Если вы не хотите себя ограничивать и получить максимум - выбирайте полный пакет</p>
				<div class="btn">Подробнее</div>
			</div>
		</div>
	</div>

</div>

<!-- Правая колонка -->
<div class="homepage-right-column">
	
	<div class="banner-outer">
		<div class="banner">
			<div class="banner-header"><div class="banner-icon icon-map-marker"></div> Отдел продаж</div>
			<div class="banner-content">
				<div class="banner-row">
					+375 (17) 328 329 4
				</div>
				<div class="banner-row">
					info@novacom.by
				</div>
				<div class="banner-row">
					г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, индекс 220028
				</div>
				<div class="banner-row">
					<div class="btn">Заказать звонок</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="clear"></div>