<!-- Левая колонка -->
<div class="homepage-left-column">
	
	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer">
			<div class="banner main">
				<div class="banner-slide active">
					<h1>Стартовый</h1>
					<p>Просто пройдите регистрацию и пользуйтесь всеми возможностями торговой площадки бесплатно</p>
				</div>
			</div>
		</div>
	</div> <!-- Строка -->

	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer half-width">
			<div class="banner">
				<div class="banner-header">Любитель</div>
				<div class="banner-content">
					<ul class="list">
						<li><a onclick="showContent('/auction-catalog')">10 бесплатных объявлений</a></li>
						<li><a onclick="showContent('/auction-catalog')">10 сделок в месяц</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="banner-outer half-width">
			<div class="banner">
				<div class="banner-header">Профессионал</div>
				<div class="banner-content">
					<ul class="list">
						<li><a onclick="showContent('/auction-catalog')">Неограниченное число объявлений</a></li>
						<li><a onclick="showContent('/auction-catalog')">Неограниченное число сделок</a></li>
						<li><a onclick="showContent('/auction-catalog')">Бесплатная поддержка</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div> <!-- Строка -->

</div> <!-- Левая колонка -->

<!-- Правая колонка -->
<div class="homepage-right-column">

	<!-- Строка -->
	<div class="page-row">
		<div class="banner-outer">
			<div class="banner">
				<div class="banner-header"><div class="banner-icon fa fa-map-marker"></div> Отдел продаж</div>
				<div class="banner-content">
					<div class="banner-row">
						+375 (17) 328 329 4
					</div>
					<div class="banner-row">
						info@novacom.by
					</div>
					<div class="banner-row">
						г. Минск, ул. Либаво-Роменская, д. 23, 5 этаж, индекс 220028
					</div>
					<div class="banner-row">
						<div class="btn">Заказать звонок</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- Строка -->

</div> <!-- Правая колонка -->