<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- <!DOCTYPE html> -->
<html>
<head>
	<!-- ENCODING -->
  <meta charset="utf-8"/>
  
  <!-- IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=8" > -->

  <!-- FOR ROBOTS: TURN OF INDEXING -->
  <meta name="robots" content="noindex, nofollow" />

  <!-- GENERAL METADATA -->
  <title>Торговая площадка</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	
	<!-- DISABLE SKYPE PLUGIN -->
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    
  <!-- ICON -->
  <!-- <link rel="shortcut icon" href="/global/img/fav.png"/> -->
	
	<!-- Apple Touch Devices -->
	<!-- <link rel="apple-touch-icon" href="/global/img/.png" /> -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
    
  <!-- IE FIXES -->
  <!--[if IE]>
	<link rel="stylesheet" type="text/css" href="/global/css/main-ie.css" media="screen" />
	<![endif]-->
    
  <!-- JQUERY -->
  <link href="/global/css/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet">
  <script src="/global/js/jquery-1.9.1.js"></script>
  <script src="/global/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="/global/js/jquery-ui-timepicker-addon.js"></script>
    
  <!-- CHOSEN -->
	<script src="/global/chosen_v1/chosen.jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/global/chosen_v1/chosen.css" media="screen" />
    
  <!-- CUSTOM NOVACOM -->  
  <link rel="stylesheet" type="text/css" href="/global/css/webfonts.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/common-elements.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/controls.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/hint.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/error.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/popup.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/toolbar.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/navigation.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/side-panel.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/breadcrumbs.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/main-block.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/main-footer.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/content-analytics.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/content-cells.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/content-comments.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/content-form.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/content-homepage.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/content-table.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/content-tables.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/content-text.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/content-tree.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/global/css/content.css" media="screen" />
  
  <script src="/global/js/navigation.js"></script>
  <script src="/global/js/controls.js"></script>
    
    <!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="/global/css/font-awesome.min.css" media="screen" />
</head>
<body>