<!-- Main Navigation -->
<!-- Add "collapsed" class to collapse navigation bar -->
<div class="main-navigation collapsed">
	<div class="navigation selected expanded" id="n1" level="1" url="/page/home.php">
		<div class="icon icon-home"></div>
		<span class="title">Главная страница</span>
		<div class="arrow icon-angle-down"></div>
	</div>
	<div class="navigation active" id="n1-1" level="2" parent="n1" url="/page/home-seller.php">
		<div class="icon small">1</div>
		<span class="title">Продавцам</span>
	</div>
	<div class="navigation active" id="n1-2" level="2" parent="n1" url="/page/home-buyer.php">
		<div class="icon small">2</div>
		<span class="title">Покупателям</span>
	</div>

	<div class="navigation" id="n2" level="1" url="/page/price.php">
		<div class="icon icon-signal"></div>
		<span class="title">Тарифы</span>
	</div>

	<div class="navigation" id="n3" level="1" url="/page/auction-catalog.php">
		<div class="icon icon-legal"></div>
		<span class="title">Торги</span>
		<div class="arrow icon-angle-down"></div>
<!-- 		<div class="counter">2</div> -->
	</div>
	<div class="navigation" id="n3-1" level="2" parent="n3" url="/page/auction-catalog.php" >
		<div class="icon small">1</div>
		<span class="title">Текущие</span>
	</div>
	<div class="navigation" id="n3-2" level="2" parent="n3" url="/page/auction-archive.php" >
		<div class="icon small">2</div>
		<span class="title">Архив</span>
	</div>
	<div class="navigation" id="n3-3" level="2" parent="n3" url="/page/auction.php" >
		<div class="icon small">3</div>
		<span class="title">Аукцион (Просмотр)</span>
	</div>
	<div class="navigation" id="n3-4" level="2" parent="n3" url="/page/auction-edit.php" >
		<div class="icon small">4</div>
		<span class="title">Аукцион (Редактирование)</span>
	</div>

	<div class="navigation" id="n4" level="1" url="/page/help.php">
		<div class="icon icon-info"></div>
		<span class="title">Справка</span>
		<div class="arrow icon-angle-down"></div>
	</div>
	<div class="navigation" id="n4-1" level="2" parent="n4" url="/page/help-features.php">
		<div class="icon small">1</div>
		<span class="title">Возможности</span>
	</div>
	<div class="navigation" id="n4-2" level="2" parent="n4" url="/page/help-guide.php">
		<div class="icon small">2</div>
		<span class="title">Обучающий тур</span>
		<div class="arrow icon-angle-down"></div>
	</div>
	<div class="navigation" id="n4-2-1" level="3" parent="n4-2" url="/page/help-guide.php">
		<div class="icon small">2.1</div>
		<span class="title">Введение</span>
	</div>
	<div class="navigation" id="n4-2-2" level="3" parent="n4-2" url="/page/help-guide.php">
		<div class="icon small">2.2</div>
		<span class="title">Проведение торгов</span>
	</div>
	<div class="navigation" id="n4-2-3" level="3" parent="n4-2" url="/page/help-guide.php">
		<div class="icon small">2.3</div>
		<span class="title">Документооборот</span>
	</div>
	<div class="navigation" id="n4-2-4" level="3" parent="n4-2" url="/page/help-guide.php">
		<div class="icon small">2.4</div>
		<span class="title">Ограбление банка</span>
	</div>
	<div class="navigation" id="n4-2-5" level="3" parent="n4-2" url="/page/help-guide.php">
		<div class="icon small">2.5</div>
		<span class="title" title="Сборка автомобиля своими руками">Сборка автомобиля своими руками</span>
		<div class="arrow icon-angle-down"></div>
	</div>
	<div class="navigation" id="n4-3" level="2" parent="n4" url="/page/help-support.php">
		<div class="icon small">3</div>
		<span class="title">Поддержка</span>
	</div>
	
	<div class="navigation" id="n5" level="1" url="/page/contacts.php">
		<div class="icon icon-phone"></div>
		<span class="title">Контакты</span>
	</div>
	
	<div class="navigation" id="n6" level="1" url="/page/error.php">
		<div class="icon icon-bug"></div>
		<span class="title">Ошибка</span>
	</div>

	<div class="expand-collapse-underlay collapsed">
		<div class="expand-collapse-lock" title="Фиксация меню в открытом состоянии">Закрепить панель</div>
		<!-- <div class="expand-collapse icon-angle-right"></div> -->
	</div>
</div>


