<!-- Main Toolbar -->
<div class="main-toolbar">

	<!-- Left block -->
	<div class="left">
		<div class="img">
			<img src="../../../global/img/novacom-logo-2.png" />
		</div>
		<div class="info">
			<div class="title" title="Оника Стандарт">Электронная торговая площадка</div>
<!-- 			<div class="description">Артём, пользователь</div> -->
		</div>
	</div> <!-- Left block -->

			
	<!-- Central block -->
	<div class="center">
		<input type="text" placeholder="Поиск" class="global-search" hint="Глобальный поиск"/>
<!-- 		<div class="btn highlighted">Найти</div> -->
		
		<div class="app-status">
			<div class="app-status-description">Загрузка данных</div>
			<div class="progress-bar">
				<div class="progress"></div>
			</div>
		</div>
	</div> <!-- Central block -->

	<!-- Right block -->
	<div class="right">
		<div class="language-select">
			<a class="language selected">РУ</a>
			<a class="language">EN</a>
		</div>
		
		<div class="app-select icon-ellipsis-horizontal" onclick="$('.application-list').toggleClass('active');">
			<div class="application-list">
				<div class="application-arrow icon-caret-up"></div>
				<div class="application">
					<div class="application-icon icon-google-plus"></div>
					<div class="application-title">Google Plus</div>
				</div>
				<div class="application">
					<div class="application-icon icon-dropbox"></div>
					<div class="application-title">Dropbox</div>
				</div>
				<div class="application">
					<div class="application-icon icon-dribbble"></div>
					<div class="application-title">Dribbble</div>
				</div>
				
				<div class="application">
					<div class="application-icon icon-github"></div>
					<div class="application-title">Github</div>
				</div>
				<div class="application">
					<div class="application-icon icon-facebook"></div>
					<div class="application-title">Facebook</div>
				</div>
				<div class="application">
					<div class="application-icon icon-cogs"></div>
					<div class="application-title">Настройки</div>
				</div>
			</div>
		</div>
		
		<div class="btn-login" onclick="$('#login').addClass('active');">Войти</div>
	</div> <!-- Right block -->
	
</div> <!-- Main Toolbar -->