<!-- Main Toolbar -->
<div class="main-toolbar">

	<!-- Left block -->
	<div class="left">
		<div class="img">
			<img src="../../../global/img/novacom-logo-2.png" />
		</div>
		<div class="info">
			<div class="title" title="Оника Стандарт">Электронная торговая площадка</div>
<!-- 			<div class="description">Артём, пользователь</div> -->
		</div>
	</div>

			
	<!-- Central block -->
	<div class="center">
		<input type="text" placeholder="Поиск" class="global-search" hint="Глобальный поиск"/>
<!-- 		<div class="btn highlighted">Найти</div> -->
		
		<div class="app-status">
			<div class="app-status-description">Загрузка данных</div>
			<div class="progress-bar">
				<div class="progress"></div>
			</div>
		</div>
	</div>

	<!-- Right block -->
	<div class="right">
		<div class="btn-login" onclick="$('#login').addClass('active');">Войти</div>
<!--
		<div class="dropdown dd app-select">
			<div class="title">Торговая площадка</div>
			<div class="options">
				<div class="option" url="/auction">
					<div class="dropdown-item-title">Аукцион</div>
				</div>
				<hr/>
				<div class="option" url="/settings">
					<div class="dropdown-item-title">Настройки</div>
				</div>
				<div class="option" url="/help">
					<div class="dropdown-item-title">Помощь</div>
				</div>
				<hr/>
				<div class="option" onclick="location.href='/'">
					<div class="dropdown-item-title">Выход</div>
				</div>
			</div>
		</div>
-->
	</div>
	
</div>