<!-- Main Toolbar -->
<div class="main-toolbar">

	<!-- Left block -->
	<div class="left">
		<div class="img">
			<img src="../../../global/img/novacom-logo-2.png" />
		</div>
		<div class="info">
			<div class="title" title="Оника Стандарт">Электронная торговая площадка</div>
<!-- 			<div class="description">Артём, пользователь</div> -->
		</div>
	</div> <!-- Left block -->

			
	<!-- Central block -->
	<div class="center">
		<input type="text" placeholder="Искать по площадке" class="global-search"/>
	</div> <!-- Central block -->

	<!-- Right block -->
	<div class="right">
		<div class="language-select">
			<a class="language selected">РУ</a>
			<a class="language">EN</a>
		</div>
		
		<div class="btn-login hide" onclick="openPopup('login')">Войти</div>
		<div class="user-info">
			<div class="user-info-name">Афанасьев В.О.</div>
			<div class="logout" onclick="$('.btn-login').removeClass('hide'); $('.user-info').addClass('hide'); $('.user-avatar').addClass('hide');">Выйти</div>
		</div>
		<div class="user-avatar"><img src="../global/img/beckhem.jpg" /></div>
		
		<div class="app-select" onclick="showAppSelectPopup()">
			<i class="fa fa-th"></i>
			<div class="application-list-underlay hide" onclick="hideAppSelectPopup()"></div>
			<div class="application-list hide">
				<div class="application-arrow"></div>
				<div class="application" onclick="hideAppSelectPopup()">
					<div class="application-icon fa fa-google-plus"></div>
					<div class="application-title">Google Plus</div>
				</div>
				<div class="application" onclick="hideAppSelectPopup()">
					<div class="application-icon fa fa-dropbox"></div>
					<div class="application-title">Dropbox</div>
				</div>
				<div class="application" onclick="hideAppSelectPopup()">
					<div class="application-icon fa fa-dribbble"></div>
					<div class="application-title">Dribbble</div>
				</div>
				
				<div class="application" onclick="hideAppSelectPopup()">
					<div class="application-icon fa fa-github"></div>
					<div class="application-title">Github</div>
				</div>
				<div class="application" onclick="hideAppSelectPopup()">
					<div class="application-icon fa fa-facebook"></div>
					<div class="application-title">Facebook</div>
				</div>
				<div class="application" onclick="hideAppSelectPopup()">
					<div class="application-icon fa fa-cogs"></div>
					<div class="application-title">Настройки</div>
				</div>
			</div>
		</div>
	</div> <!-- Right block -->
	
</div> <!-- Main Toolbar -->